/*!
Theme Name: ULI Microsite
Theme URI: http://www.homefrontdc.com
Description: ULI Microsite 2015
Version: 1
Author: Home Front Communications
Author URI: http://homefrontdc.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  outline: none; }

/****** Breakpoints ******/
.small-spaced, .banner h1 {
  font-size: 24px;
  color: #fff;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase; }
  .small-spaced span, .banner h1 span {
    color: #8fb246; }

.large-header, .banner h2 {
  font-size: 57px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700; }
  .large-header span, .banner h2 span {
    color: #8fb246; }

.section-title, h1.section-title {
  font-size: 28px;
  color: #8fb246;
  border-bottom: 1px solid rgba(87, 119, 136, 0.2);
  padding-bottom: 10px;
  margin-bottom: 16px; }
  .section-title.large {
    font-size: 45px;
    font-weight: 100; }

blockquote {
  color: #339999;
  font-size: 30px;
  line-height: 35px;
  max-width: 900px;
  margin: 40px auto;
  position: relative;
  text-transform: uppercase;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  padding: 30px 0px; }
  blockquote p {
    color: #339999;
    font-size: 30px;
    line-height: 35px; }

p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  margin: 15px 0;
  font-weight: 300; }

h4 {
  background: #8ebcbb;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 10px;
  box-sizing: border-box; }

.icon.message {
  position: relative;
  padding-left: 63px; }
  .icon.message:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(/wp-content/themes/uli/assets/images/icon-message.png) no-repeat center center;
    content: ""; }
.icon.video {
  position: relative; }
  .icon.video:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/wp-content/themes/uli/assets/images/icon-video.png) no-repeat center center;
    content: "";
    z-index: 1; }
.icon.explore {
  position: relative;
  padding-left: 63px; }
  .icon.explore:before {
    position: absolute;
    top: 0;
    left: 0px;
    width: 63px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(/wp-content/themes/uli/assets/images/icon-explore.png) no-repeat center center;
    content: ""; }
    @media (max-width: 1024px) {
      .icon.explore:before {
        width: 45px; } }
.icon.chat {
  position: relative;
  padding-left: 63px; }
  .icon.chat:before {
    position: absolute;
    top: 0;
    left: 0px;
    width: 63px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(/wp-content/themes/uli/assets/images/icon-chat.png) no-repeat center center;
    content: ""; }
    @media (max-width: 1024px) {
      .icon.chat:before {
        width: 45px; } }
.icon.twitter {
  background: url(/wp-content/themes/uli/assets/images/icon-twitter.png) no-repeat center center;
  display: block;
  width: 19px;
  height: 16px;
  background-size: 100%; }
.icon.facebook {
  background: url(/wp-content/themes/uli/assets/images/icon-facebook.png) no-repeat center center;
  display: block;
  width: 9px;
  height: 18px;
  background-size: 100%;
  position: relative;
  top: -1px; }
.icon.linkedin {
  background: url(/wp-content/themes/uli/assets/images/icon-linkedin.png) no-repeat center center;
  display: block;
  width: 16px;
  height: 17px;
  background-size: 100%; }
.icon.instagram {
  background: url(/wp-content/themes/uli/assets/images/icon-instagram.png) no-repeat center center;
  display: block;
  width: 17px;
  height: 17px;
  background-size: 100%; }
.icon.google {
  background: url(/wp-content/themes/uli/assets/images/icon_google.png) no-repeat center center;
  display: block;
  width: 18px;
  height: 19px;
  background-size: 100%; }
.icon.flickr {
  background: url(/wp-content/themes/uli/assets/images/icon_flickr.png) no-repeat center center;
  display: block;
  width: 20px;
  height: 20px;
  background-size: 100%; }
.icon.search {
  background: url(/wp-content/themes/uli/assets/images/icon-search.png) no-repeat center center;
  display: block;
  width: 14px;
  height: 14px; }
.icon.download:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: url(/wp-content/themes/uli/assets/images/icon-download.png) no-repeat center center;
  display: block;
  width: 30px;
  content: ""; }
.icon.close {
  background: url(/wp-content/themes/uli/assets/images/icon-close-vertical.png) no-repeat center center;
  width: 39px;
  height: 66px;
  text-indent: -9999px; }
.icon.close-2 {
  background: url(/wp-content/themes/uli/assets/images/icon-close-2.png) no-repeat center center;
  width: 39px;
  height: 17px;
  text-indent: -9999px;
  display: block; }
.icon.overlay-close {
  background: url(/wp-content/themes/uli/assets/images/icon-overlay-close.png) no-repeat center center rgba(0, 0, 0, 0.2);
  width: 17px;
  height: 17px;
  text-indent: -122px;
  display: block;
  position: fixed;
  z-index: 5;
  cursor: pointer;
  padding: 5px;
  top: 40px;
  right: 40px; }
  @media (max-width: 1024px) {
    .icon.overlay-close {
      top: 20px;
      right: 20px; } }
  .icon.overlay-close.hidden {
    display: none; }
.icon.overlay-video-play {
  background: url(/wp-content/themes/uli/assets/images/icon-overlay-video2.png) no-repeat center center;
  width: 125px;
  height: 125px;
  text-indent: -9999px;
  display: block;
  margin: 100px auto 0;
  cursor: pointer;
  transition: all .15s ease;
  opacity: .8; }
  @media (max-width: 1024px) {
    .icon.overlay-video-play {
      position: absolute;
      top: 75px;
      width: 35px;
      height: 35px;
      left: 0;
      right: 0;
      -moz-background-size: 35px;
      -webkit-background-size: 35px;
      background-size: 35px; } }
  .icon.overlay-video-play:hover {
    opacity: 1; }
.icon.share {
  padding-right: 25px; }
  .icon.share:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: url(/wp-content/themes/uli/assets/images/icon-share.jpg) no-repeat center center;
    content: ""; }

a {
  text-decoration: none; }
  a.cta {
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    width: 352px;
    box-sizing: border-box;
    padding-left: 75px !important;
    text-align: left;
    margin-right: 10px;
    line-height: 16px;
    font-weight: 500;
    font-size: 15px;
    padding: 30px 17px 30px 75px;
    z-index: 1; }
    @media (min-width: 1500px) {
      a.cta {
        font-size: 18px; } }
    @media (max-width: 1024px) {
      a.cta {
        width: 100%;
        padding: 15px 15px 15px 55px !important;
        font-size: 13px;
        margin: 0 0 10px;
        background-position: right 10px center; } }
    a.cta:hover {
      -webkit-transition: background 0.2s ease-in-out;
      -moz-transition: background 0.2s ease-in-out;
      -ms-transition: background 0.2s ease-in-out;
      -o-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out; }
  a.brand-3 {
    background: rgba(46, 107, 122, 0.45) url(/wp-content/themes/uli/assets/images//button-arrow.png) no-repeat right 10px bottom 30px;
    background-color: rgba(46, 107, 122, 0.45);
    color: #fff; }
    @media (max-width: 1024px) {
      a.brand-3 {
        background-position: right 10px center; } }
    a.brand-3:hover {
      background: rgba(46, 107, 122, 0.25) url(/wp-content/themes/uli/assets/images//button-arrow.png) no-repeat right 10px bottom 30px;
      background-color: rgba(46, 107, 122, 0.25);
      opacity: 1 !important; }
      @media (max-width: 1024px) {
        a.brand-3:hover {
          background-position: right 10px center; } }
  a.brand-2 {
    background: rgba(143, 178, 70, 0.6) url(/wp-content/themes/uli/assets/images//button-arrow.png) no-repeat right 10px bottom 30px;
    background-color: rgba(143, 178, 70, 0.6);
    color: #fff; }
    @media (max-width: 1024px) {
      a.brand-2 {
        background-position: right 10px center; } }
    a.brand-2:hover {
      background: rgba(92, 124, 47, 0.6) url(/wp-content/themes/uli/assets/images//button-arrow.png) no-repeat right 10px bottom 30px;
      background-color: rgba(92, 124, 47, 0.6);
      opacity: 1 !important; }
      @media (max-width: 1024px) {
        a.brand-2:hover {
          background-position: right 10px center; } }

.full {
  width: 100%; }

.col-1 {
  width: 80%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box; }

.col-2 {
  width: 20%;
  float: right;
  max-width: 200px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

a.logo {
  text-indent: -9999px;
  font-size: 1px;
  background: url(/wp-content/themes/uli/assets/images/logo.png) no-repeat;
  display: block;
  width: 210px;
  height: 62px; }

header#home {
  padding: 11px 11px 0 11px;
  position: relative;
  z-index: 1;
  margin: 35px 0 0; }
  @media (max-width: 1024px) {
    header#home {
      margin: 30px auto 0;
      clear: both;
      overflow: hidden;
      padding: 0 10px; } }
  header#home .contain {
    max-width: 100%;
    padding: 0 40px; }
    @media (max-width: 1024px) {
      header#home .contain {
        min-width: 0;
        clear: both;
        overflow: hidden;
        padding: 0; } }
  header#home a.logo {
    float: left; }
    @media (max-width: 1024px) {
      header#home a.logo {
        width: 157.5px;
        height: 46.5px;
        background-size: 100%; } }
  header#home .click-nav {
    width: 35px;
    height: 35px;
    background: url(/wp-content/themes/uli/assets/images/homepage-mobile-nav.png) no-repeat center center;
    -moz-background-size: 80%;
    -webkit-background-size: 80%;
    background-size: 80%;
    float: right;
    padding: 3px 0;
    display: none; }
    @media (max-width: 1024px) {
      header#home .click-nav {
        display: block; } }
  header#home nav {
    float: right; }
    @media (max-width: 1024px) {
      header#home nav {
        display: none; } }
    header#home nav li {
      display: inline-block;
      margin: 0 10px;
      font-size: 16px; }
      header#home nav li.social {
        margin: 0 8px; }
        header#home nav li.social a {
          text-indent: -9999px; }
      header#home nav li.search {
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        padding-left: 14px;
        position: relative;
        top: 4px; }
        header#home nav li.search a {
          display: block;
          float: left;
          position: relative;
          top: 3px; }
        header#home nav li.search input {
          opacity: 0;
          width: 0;
          background: transparent;
          border: 0;
          border-bottom: 1px solid #fff;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          float: left;
          color: #fff;
          font-weight: 500;
          font-size: 14px; }
          header#home nav li.search input.active {
            width: 280px;
            opacity: 1;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; }
      header#home nav li.last {
        margin-right: 8px; }
    header#home nav a {
      color: #fff; }

#main-nav {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.97); }
  @media (max-width: 1024px) {
    #main-nav {
      background: #e4ecd5;
      position: fixed;
      bottom: 0;
      overflow: scroll; } }
  #main-nav.disabled {
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
  #main-nav.active {
    opacity: 1;
    visibility: visible;
    z-index: 100; }
  #main-nav header {
    width: 100%;
    padding: 13px 10px 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      #main-nav header {
        background: #78a22f;
        padding: 13px 20px 0 20px; } }
    #main-nav header .inner-wrap {
      border-bottom: 1px solid rgba(87, 119, 136, 0.2);
      padding: 0 0 11px 0;
      clear: both;
      overflow: hidden; }
    #main-nav header .title {
      color: #4c4c4c;
      font-size: 28px;
      font-weight: 400;
      display: inline-block;
      float: left;
      padding: 8px 0 8px 65px;
    }
        
      @media (max-width: 1024px) {
        #main-nav header .title {
          background: none;
          padding-left: 0;
          color: #fff;
          font-size: 17px;
          font-weight: 300;
          margin-top: 5px; } }
    #main-nav header ul {
      float: right; }
      #main-nav header ul li {
        display: inline-block;
        padding: 0 3px;
        float: left; }
        #main-nav header ul li:first-child {
          padding: 15px;
          display: inline-block;
          height: auto;
          margin-right: 40px; }
          @media (max-width: 1024px) {
            #main-nav header ul li:first-child {
              display: none; } }
        #main-nav header ul li:last-of-type {
          height: 45px;
          width: 45px;
          background: #eeefef; }
          #main-nav header ul li:last-of-type a {
            height: 45px;
            width: 100%; }
      #main-nav header ul a {
        font-size: 13px;
        color: #000;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out; }
        #main-nav header ul a:hover {
          opacity: .6;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out; }
  #main-nav .mobile-title {
    background: #666;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: none; }
    @media (max-width: 1024px) {
      #main-nav .mobile-title {
        display: block; } }
  #main-nav nav, #main-nav nav ul {
    height: 100%; }
  #main-nav nav ul.primary {
    width: 80%;
    float: left; }
    @media (max-width: 1024px) {
      #main-nav nav ul.primary {
        width: 100%;
        height: auto;
        float: none; } }
  #main-nav nav ul.secondary {
    width: 20%;
    float: left; }
    @media (max-width: 1024px) {
      #main-nav nav ul.secondary {
        width: 100%;
        height: auto;
        float: none;
        padding-top: 10px; } }
    #main-nav nav ul.secondary li {
      width: 100%; }
      #main-nav nav ul.secondary li:before {
        border-left: none;
        border-bottom: none;
        border-right: 10px solid #fff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        @media (max-width: 1024px) {
          #main-nav nav ul.secondary li:before {
            border: none; } }
      #main-nav nav ul.secondary li.last .link {
        display: block;
        position: absolute;
        height: 85px;
        top: 10px;
        bottom: 0;
        margin: auto;
        padding-top: 0; }
        @media (max-width: 1024px) {
          #main-nav nav ul.secondary li.last .link {
            position: relative;
            height: auto;
            top: 0;
            margin-bottom: 5px; } }
        #main-nav nav ul.secondary li.last .link a {
          width: 100%;
          font-size: 13px;
          line-height: 20px;
          display: block;
          height: auto;
          margin-bottom: 14px; }
          @media (max-width: 1024px) {
            #main-nav nav ul.secondary li.last .link a {
              font-size: 14px;
              display: block;
              line-height: 32px;
              font-weight: 300;
              padding-bottom: 0;
              margin-bottom: 0; } }
      #main-nav nav ul.secondary li .background-color {
        background-color: #091c1b; }
        @media (max-width: 1024px) {
          #main-nav nav ul.secondary li .background-color {
            display: none; } }
      #main-nav nav ul.secondary li .link {
        vertical-align: middle;
        display: table-cell;
        padding: 0 40px; }
        @media (max-width: 1024px) {
          #main-nav nav ul.secondary li .link {
            display: block;
            padding: 5px 20px; } }
        #main-nav nav ul.secondary li .link a {
          width: auto;
          padding: 0;
          font-size: 16px;
          line-height: 25px; }
          @media (max-width: 1024px) {
            #main-nav nav ul.secondary li .link a {
              width: 100%;
              display: block;
              border-bottom: none;
              font-weight: 500;
              font-size: 14px; } }
  #main-nav nav li {
    height: 33.3%;
    float: left;
    width: 49.6%;
    display: table;
    position: relative;
    overflow: hidden; }
    @media (max-width: 1024px) {
      #main-nav nav li {
        height: auto;
        float: none;
        width: 100%; } }
    #main-nav nav li:hover .background-image {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: .5; }
    #main-nav nav li .background-color, #main-nav nav li .background-image {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%; }
    #main-nav nav li .background-color {
      background: #000; }
      @media (max-width: 1024px) {
        #main-nav nav li .background-color {
          background: #fff; } }
    #main-nav nav li .background-image {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: .7; }
      @media (max-width: 1024px) {
        #main-nav nav li .background-image {
          display: none; } }
    #main-nav nav li:before {
      position: absolute;
      border: 10px solid #fff;
      content: "";
      width: 100%;
      height: 100%; }
      @media (max-width: 1024px) {
        #main-nav nav li:before {
          position: static;
          border: none; } }
    #main-nav nav li a {
      display: block;
      width: 100%;
      height: 100%;
      text-align: left;
      vertical-align: top;
      display: table-cell;
      color: #fff;
      font-size: 28px;
      position: relative;
      font-weight: 400;
      padding: 0 40px; }
      @media (max-width: 1024px) {
        #main-nav nav li a {
          color: #333;
          font-weight: 300;
          font-size: 20px;
          border-bottom: 1px solid #e5e5e5;
          padding: 10px 20px; } }
      @media (max-width: 1024px) {
        #main-nav nav li a:hover {
          opacity: 1; } }
      #main-nav nav li a .number {
        margin: 50px 0 20px;
        background: rgba(0, 0, 0, 0.3);
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        padding: 7px;
        letter-spacing: 1px; }
        @media (max-width: 1024px) {
          #main-nav nav li a .number {
            display: none; } }
    #main-nav nav li.disabled {
      opacity: 0;
      visibility: hidden;
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -webkit-transform: scale(0.8);
      transform: scale(0.8); }
    #main-nav nav li.active {
      opacity: 1;
      visibility: visible;
      top: 0;
      left: 0;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1); }

header#global {
  position: relative;
  width: 100%;
  background: #01605e;
  padding: 15px 0;
  height: 69px;
  min-width: 1024px;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  header#global:after {
    content: "";
    display: table;
    clear: both; }
  header#global .contain {
    max-width: 100%;
    padding: 0 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  header#global a.logo {
    float: left;
    background-size: 100%;
    max-width: 122px;
    height: 35px;
    position: relative;
    top: 2px; }
  header#global a.home {
    font-size: 13px;
    color: #fff;
    padding: 15px 20px 20px 45px;
    display: inline-block;
    font-weight: 300; }
  header#global nav {
    float: right;
    margin-top: 9px;
    margin-right: -22px; }
    header#global nav li {
      display: inline-block;
      margin: 0 20px;
      font-size: 14px; }
      header#global nav li .icon.explore {
        position: relative;
        display: block;
        height: 30px;
        width: 30px;
        top: -10px;
        left: 0;
        padding: 6px;
        background: #1e7a78; }
        header#global nav li .icon.explore:before {
          width: 42px; }
      header#global nav li.social {
        margin: 0 8px;
        max-width: 32px; }
        header#global nav li.social a {
          text-indent: -9999px; }
      header#global nav li.search {
        padding-left: 14px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        margin: 0 40px 0 30px; }
        header#global nav li.search.active {
          max-width: 177px;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
        header#global nav li.search a {
          display: block;
          float: left;
          position: relative;
          top: 1px; }
        header#global nav li.search input {
          opacity: 0;
          width: 0;
          background: transparent;
          border: 0;
          border-bottom: 1px solid #fff;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          float: left;
          color: #fff;
          font-weight: 500;
          font-size: 11px;
          height: 11px;
          margin-right: 5px; }
          header#global nav li.search input.active {
            width: 150px;
            opacity: 1;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; }
      header#global nav li.last {
        margin-right: 0;
        width: 42px; }
    header#global nav a {
      color: #fff; }

#video-wrapper {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  margin: auto;
  overflow: hidden; }
  @media (max-width: 1024px) {
    #video-wrapper {
      position: static; } }
  #video-wrapper.leadership-open {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  #video-wrapper #full-screen-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover; }
    @media (max-width: 1024px) {
      #video-wrapper #full-screen-video {
        display: none; } }
  @media (max-width: 1024px) {
    #video-wrapper .contain {
      min-width: 0;
      max-width: 100%; } }

.page-background {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  margin: auto;
  background: #000; }
  @media (max-width: 1024px) {
    .page-background {
      background: url("/wp-content/themes/uli/assets/images/homepage-mobile-back.jpg") no-repeat center center;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1; } }

.page-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url(/wp-content/themes/uli/assets/images/pattern.png) repeat;
  z-index: 1; }
  @media (max-width: 1024px) {
    .page-overlay {
      display: none; } }

.page-border {
  box-shadow: inset #FFFFFF 0px 0px 0px 11px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(/wp-content/themes/uli/assets/images/pattern.png) repeat; }

.banner-content {
  margin-bottom: 20px; }
  .banner-content:after {
    content: "";
    display: table;
    clear: both; }

.banner {
  background: rgba(0, 0, 0, 0.4);
  padding: 87px 10px;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  margin-top: -242px;
  text-align: center;
  top: 53%;
  min-height: 315px;
  left: 0;
  right: 0;
  width: auto; }
  @media (max-height: 700px) {
    .banner {
      top: 59%; } }
  @media (max-width: 1024px) {
    .banner {
      position: absolute;
      height: 315px;
      padding: 30px;
      top: 0;
      bottom: 0;
      margin: auto; } }
  @media (max-width: 400px) {
    .banner {
      top: 95px;
      bottom: initial; } }
  .banner p {
    font-size: 13px;
    color: #fff;
    line-height: 18px;
    max-width: 600px;
    margin: 0 auto; }
  .banner h1 {
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 1px solid #99cc33;
    padding-bottom: 20px;
    max-width: 600px;
    margin: 0 auto 35px;
    letter-spacing: 3px;
    font-weight: 300; }
    @media (min-width: 1500px) {
      .banner h1 {
        max-width: 700px;
        font-size: 30px; } }
    @media (max-width: 1024px) {
      .banner h1 {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0;
        padding-bottom: 10px;
        margin-bottom: 10px; } }
    .banner h1 span {
      font-weight: 500; }
  .banner h2 {
    margin-bottom: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 68px; }
    @media (min-width: 1500px) {
      .banner h2 {
        font-size: 65px; } }
    @media (max-width: 1024px) {
      .banner h2 {
        font-size: 24px;
        line-height: 10px;
        letter-spacing: 2px; } }
    .banner h2 span {
      font-family: 'Goudy Old Style Italic';
      color: #fff;
      border-radius: 50px;
      display: inline-block;
      background: rgba(143, 178, 70, 0.5);
      height: 65px;
      font-size: 28px;
      width: 64px;
      position: relative;
      top: -11px;
      text-align: center;
      padding: 0;
      font-style: italic;
      text-transform: lowercase;
      letter-spacing: -1px;
      line-height: 2.2em; }
      @media (min-width: 1500px) {
        .banner h2 span {
          top: -17px; } }
      @media (max-width: 1024px) {
        .banner h2 span {
          height: 45px;
          font-size: 22px;
          width: 45px;
          top: -4px;
          line-height: 41px; } }
  .banner h1, .banner h2 {
    text-align: center; }

#leadership-message {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #fff;
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 62%, #e5e5e5 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(62%, #ffffff), color-stop(100%, #e5e5e5));
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 62%, #e5e5e5 100%);
  background: -o-radial-gradient(center, ellipse cover, #ffffff 62%, #e5e5e5 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ffffff 62%, #e5e5e5 100%);
  background: radial-gradient(ellipse at center, #ffffff 62%, #e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  overflow: auto; }
  #leadership-message.active {
    z-index: 10;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }
  @media (max-width: 1024px) {
    #leadership-message #leadership-video-player {
      display: none; } }
  #leadership-message #leadership-video-player-mobile {
    margin-top: 50px;
    display: none; }
    @media (max-width: 1024px) {
      #leadership-message #leadership-video-player-mobile {
        display: block; } }
  #leadership-message .share-this {
    color: #fff;
    top: 25px;
    right: 80px;
    z-index: 5;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; }
    #leadership-message .share-this:hover {
      opacity: .7; }
  #leadership-message .icon.share {
    padding-right: 0; }
    #leadership-message .icon.share:before {
      background: none; }
  #leadership-message .back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px; }
    @media (max-width: 1024px) {
      #leadership-message .back-to-top {
        bottom: 20px;
        right: 20px; } }
  #leadership-message h1 {
    font-size: 21.5px;
    font-weight: 100;
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 7px;
    border-bottom: 1px solid #8fb246;
    max-width: 500px;
    margin: 12px auto;
    padding: 100px 0 10px; }
    @media (max-width: 1024px) {
      #leadership-message h1 {
        font-size: 13px;
        letter-spacing: 3px;
        width: 220px;
        padding-bottom: 0;
        margin-bottom: 5px; } }
  #leadership-message h2 {
    font-size: 44.5px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 10px; }
    @media (max-width: 1024px) {
      #leadership-message h2 {
        font-size: 20px;
        padding-top: 0; } }
  #leadership-message .leader-circles-wrap {
    margin: 50px auto;
    display: inline-block;
    text-align: center;
    clear: both;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }
    @media (max-width: 1024px) {
      #leadership-message .leader-circles-wrap {
        position: relative;
        margin: 75px auto 0;
        display: block; } }
    #leadership-message .leader-circles-wrap .title {
      letter-spacing: 4px;
      color: #fff;
      text-align: center;
      font-size: 13.5px;
      text-transform: uppercase;
      margin-bottom: 25px; }
      @media (max-width: 1024px) {
        #leadership-message .leader-circles-wrap .title {
          font-size: 11.5px; } }
    #leadership-message .leader-circles-wrap ul.leaders {
      display: table;
      margin: 0 auto; }
      @media (max-width: 1024px) {
        #leadership-message .leader-circles-wrap ul.leaders {
          display: block; } }
      #leadership-message .leader-circles-wrap ul.leaders li {
        display: table-cell;
        width: 150px;
        margin-right: 10px;
        color: #fff;
        cursor: pointer; }
        @media (max-width: 1024px) {
          #leadership-message .leader-circles-wrap ul.leaders li {
            display: block;
            width: 70%;
            margin: 0 auto; } }
        @media (max-width: 1024px) {
          #leadership-message .leader-circles-wrap ul.leaders li .leader-link {
            clear: both;
            overflow: hidden;
            width: 250px;
            margin: 0 auto; } }
        #leadership-message .leader-circles-wrap ul.leaders li .circle-hs {
          -moz-ackground-size: cover;
          -webkit-background-size: cover;
          background-size: cover;
          background-position: center;
          border-radius: 63px;
          height: 90px;
          width: 90px;
          margin: 0 auto 10px;
          transition: all .15s ease; }
          @media (max-width: 1024px) {
            #leadership-message .leader-circles-wrap ul.leaders li .circle-hs {
              width: 50px;
              height: 50px;
              float: left; } }
        #leadership-message .leader-circles-wrap ul.leaders li:hover .circle-hs {
          opacity: .8; }
        #leadership-message .leader-circles-wrap ul.leaders li a {
          display: inline-block;
          color: #fff;
          font-size: 14px;
          -moz-transition: none;
          -webkit-transition: none;
          -o-transition: color 0 ease-in;
          transition: none;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
          -webkit-backface-visibility: hidden; }
          #leadership-message .leader-circles-wrap ul.leaders li a:hover {
            opacity: .7; }
        #leadership-message .leader-circles-wrap ul.leaders li .text {
          overflow: hidden; }
        #leadership-message .leader-circles-wrap ul.leaders li .l-title {
          font-weight: 700;
          font-size: 11px;
          text-transform: uppercase; }
          @media (max-width: 1024px) {
            #leadership-message .leader-circles-wrap ul.leaders li .l-title {
              float: left;
              margin-left: 10px;
              margin-top: 10px;
              text-align: left; } }
        #leadership-message .leader-circles-wrap ul.leaders li .l-sub {
          font-weight: 400;
          font-size: 8.5px;
          display: block;
          line-height: 12px;
          text-transform: uppercase; }
          @media (max-width: 1024px) {
            #leadership-message .leader-circles-wrap ul.leaders li .l-sub {
              float: left;
              margin-left: 10px;
              text-align: left; } }
        #leadership-message .leader-circles-wrap ul.leaders li:last-of-type {
          margin-right: 0; }
          @media (max-width: 1024px) {
            #leadership-message .leader-circles-wrap ul.leaders li:last-of-type {
              margin-right: auto; } }
  #leadership-message .two-column-leader {
    clear: both;
    overflow: hidden;
    padding: 0 100px;
    display: table;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      #leadership-message .two-column-leader {
        padding: 0;
        display: block; } }
    #leadership-message .two-column-leader .column-leader {
      display: table-cell;
      width: 600px; }
      @media (max-width: 1024px) {
        #leadership-message .two-column-leader .column-leader {
          width: 100%;
          display: block; } }
  #leadership-message #video {
    padding: 20px 0;
    display: table;
    margin: 0 auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #000; }
    #leadership-message #video:after {
      content: "";
      display: table;
      clear: both; }
    #leadership-message #video .video-overlay-bg {
      -moz-ackground-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      @media (max-width: 1024px) {
        #leadership-message #video .video-overlay-bg {
          background: url(/wp-content/themes/uli/assets/images/ULI-mobile_top_image.jpg) no-repeat top center #000 !important; } }
    #leadership-message #video .leadership-video {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1; }
      #leadership-message #video .leadership-video .x {
        background: url(/wp-content/themes/uli/assets/images/icon-overlay-close.png) no-repeat center center;
        width: 17px;
        height: 17px;
        text-indent: -9999px;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1; }
      @media (max-width: 1024px) {
        #leadership-message #video .leadership-video.fixed-pos {
          position: fixed; } }
    #leadership-message #video .video-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 900px;
      height: 100%;
      margin: auto;
      text-align: center;
      z-index: 3;
      transition: all .4s ease-in-out .15s; }
      @media (max-width: 1024px) {
        #leadership-message #video .video-overlay {
          position: relative;
          width: 100%;
          height: auto; } }
    #leadership-message #video .helper {
      position: absolute;
      z-index: 4;
      bottom: 30px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-transform: uppercase;
      transition: all .3s ease-in-out;
      font-size: 18px;
      color: #FFF;
      text-align: center; }
    #leadership-message #video .helper.hidden, #leadership-message #video .video-overlay.hidden, #leadership-message #video .video-overlay-bg.hidden {
      visibility: hidden;
      opacity: 0; }
    #leadership-message #video p {
      font-size: 20px;
      line-height: 30px;
      color: #fff;
      max-width: 740px;
      margin: 40px auto;
      text-align: center; }
  #leadership-message .main-photo {
    border-radius: 200px; }
  #leadership-message .leader-wrap {
    background: #fff;
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 62%, #e5e5e5 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(62%, #ffffff), color-stop(100%, #e5e5e5));
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 62%, #e5e5e5 100%);
    background: -o-radial-gradient(center, ellipse cover, #ffffff 62%, #e5e5e5 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ffffff 62%, #e5e5e5 100%);
    background: radial-gradient(ellipse at center, #ffffff 62%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
    background-attachment: fixed; }
  #leadership-message .leader {
    text-align: center;
    padding: 50px 0; }
    #leadership-message .leader:after {
      content: "";
      display: table;
      clear: both; }
    @media (max-width: 1024px) {
      #leadership-message .leader .caption {
        font-size: 11px;
        line-height: 18px;
        margin: 0 auto 20px;
        font-style: italic; } }
    @media (max-width: 1024px) {
      #leadership-message .leader .alignleft {
        float: left;
        margin: 5%;
        margin-left: 5% !important; } }
    @media (max-width: 1024px) {
      #leadership-message .leader .alignleft img {
        margin: 0 !important; } }
    @media (max-width: 1024px) {
      #leadership-message .leader img {
        max-width: 100%;
        height: auto; } }
    #leadership-message .leader h2 {
      font-size: 39px;
      line-height: 37px;
      width: 80%;
      color: #000;
      padding: 20px 0;
      font-weight: 100;
      border-bottom: 1px solid #8fb246;
      max-width: 500px;
      margin: 0 auto; }
      @media (max-width: 1024px) {
        #leadership-message .leader h2 {
          font-size: 25px;
          padding: 20px 0 5px; } }
      #leadership-message .leader h2 span {
        font-size: 14px;
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px; }
    #leadership-message .leader h3 {
      font-size: 13px;
      font-weight: 100;
      margin-top: 15px;
      margin-bottom: 40px;
      text-transform: uppercase; }
      #leadership-message .leader h3 strong {
        font-weight: 500; }
    #leadership-message .leader h4 {
      border-top: 17px solid #8fb246;
      border-bottom: 7px solid #8fb246;
      padding: 10px 0;
      color: #fff;
      font-size: 41px;
      max-width: 285px;
      margin: 40px auto; }
    @media (max-width: 1024px) {
      #leadership-message .leader blockquote {
        max-width: 90%;
        padding: 15px 0;
        margin: 30px auto; } }
    #leadership-message .leader blockquote p {
      color: #339999;
      font-size: 30px;
      line-height: 35px; }
      @media (max-width: 1024px) {
        #leadership-message .leader blockquote p {
          font-size: 20px;
          line-height: 30px; } }
    #leadership-message .leader p {
      font-size: 14px;
      line-height: 30px;
      color: #000;
      max-width: 900px;
      margin: 0 auto 15px;
      text-align: left; }
      @media (max-width: 1024px) {
        #leadership-message .leader p {
          max-width: 90%; } }
      #leadership-message .leader p.blockquote-after {
        display: inline-block;
        max-width: 410px; }
      #leadership-message .leader p.header {
        font-size: 17px; }
        @media (max-width: 1024px) {
          #leadership-message .leader p.header {
            font-size: 14px; } }
        #leadership-message .leader p.header:first-letter {
          float: left;
          color: #8fb246;
          font-size: 105px;
          line-height: 60px;
          padding-top: 13px;
          padding-right: 8px;
          padding-left: 0; }
          @media (max-width: 1024px) {
            #leadership-message .leader p.header:first-letter {
              font-size: 14px;
              float: none;
              color: #000;
              font-size: 17px;
              line-height: 30px;
              padding: 0; } }
      #leadership-message .leader p span {
        display: block;
        text-align: left;
        font-size: 14px; }
    #leadership-message .leader ul {
      max-width: 900px;
      margin: 0 auto;
      padding-left: 60px; }
      @media (max-width: 1024px) {
        #leadership-message .leader ul {
          max-width: 90%;
          width: 90%;
          padding-left: 25px;
          box-sizing: border-box; } }
      #leadership-message .leader ul li {
        font-size: 14px;
        line-height: 30px;
        color: #000;
        max-width: 900px;
        margin: 0 auto 15px;
        text-align: left;
        list-style: disc;
        padding-left: 15px;
        font-weight: 300; }
        @media (max-width: 1024px) {
          #leadership-message .leader ul li {
            padding-left: 5px; } }
    #leadership-message .leader .signature {
      text-align: left;
      max-width: 900px;
      margin: 0 auto;
      padding: 40px 0 0;
      clear: both;
      overflow: hidden; }
      @media (max-width: 1024px) {
        #leadership-message .leader .signature {
          width: 90%;
          max-width: 90%; } }
      #leadership-message .leader .signature .signature-column {
        width: 35%;
        float: left;
        font-size: 14px;
        line-height: 20px; }
        @media (max-width: 1024px) {
          #leadership-message .leader .signature .signature-column {
            margin-bottom: 30px;
            width: 100%; } }
        #leadership-message .leader .signature .signature-column strong {
          display: block; }
      #leadership-message .leader .signature img {
        margin-top: -20px;
        display: block; }
    #leadership-message .leader .leader-sharing {
      text-align: left;
      max-width: 900px;
      margin: 0 auto;
      border-bottom: 7px solid #8fb246;
      padding: 0 0 40px; }
      @media (max-width: 1024px) {
        #leadership-message .leader .leader-sharing {
          width: 90%;
          max-width: 90%; } }

.home-content {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.97);
  height: 100%;
  min-width: 500px;
  z-index: 5;
  box-shadow: #000 6px 0px 11px 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 50px 85px 50px;
  max-width: 70%;
  box-sizing: border-box; }
  .home-content .contain {
    overflow-y: auto;
    height: 100%; }
  .home-content.disabled {
    right: -800px;
    opacity: 0;
    z-index: -1; }
  .home-content.active {
    right: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    z-index: 10; }
  .home-content a.close {
    position: absolute;
    top: 50%;
    margin-top: -33px;
    left: -39px; }
  .home-content img.full {
    margin-bottom: 30px; }

.home-footer .contain {
  min-width: 0; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 11px;
  box-sizing: border-box; }
  footer .contain {
    position: relative;
    max-width: 100%;
    padding: 0 40px; }
  footer .copyright {
    color: #fff;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: center; }
    @media (max-width: 1024px) {
      footer .copyright {
        font-size: 8px; } }
  footer a.block {
    position: absolute;
    right: 40px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 33px 9px 15px;
    color: #fff;
    font-size: 12px; }

.share-overlay {
  position: fixed;
  z-index: 10000;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none; }
  .share-overlay .close {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 25px; }
  .share-overlay .share-inner {
    background: #fff;
    width: 300px;
    height: 105px;
    padding: 41px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto; }
    .share-overlay .share-inner .title {
      color: #474747;
      font-size: 32px;
      margin-bottom: 30px; }
    .share-overlay .share-inner .at-share-btn.at-svc-facebook, .share-overlay .share-inner .at-share-btn.at-svc-twitter, .share-overlay .share-inner .at-share-btn.at-svc-pinterest_share, .share-overlay .share-inner .at-share-btn.at-svc-linkedin, .share-overlay .share-inner .at-share-btn.at-svc-google, .share-overlay .share-inner .at-share-btn.at-svc-flickr, .share-overlay .share-inner .at-share-btn.at-svc-compact {
      margin: 0 5px; }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

header.sub-header {
  margin-bottom: 30px;
  position: relative; }
  header.sub-header.alternative {
    margin-bottom: 10px; }

.share-this {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 12px;
  text-transform: uppercase;
  color: #107773;
  font-weight: bold;
  cursor: pointer; }

#page-wrapper {
  width: 100%;
  overflow: hidden; }
  @media (max-width: 1024px) {
    #page-wrapper {
      overflow: visible;
      min-width: 1024px;
      height: auto !important; } }
  #page-wrapper .contain {
    background: #fff;
    max-width: 1200px;
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto; }
  #page-wrapper .tabs-content {
    border-left: 1px solid #c7d0d3;
    border-right: 1px solid #c7d0d3;
    border-bottom: 1px solid #c7d0d3;
    padding: 30px;
    box-sizing: border-box; }
  #page-wrapper nav.tabs {
    padding-bottom: 0; }
    #page-wrapper nav.tabs ul.border {
      border-bottom: 1px solid rgba(87, 119, 136, 0.2);
      padding-bottom: 15px;
      margin-bottom: 25px; }
    #page-wrapper nav.tabs ul.tabs {
      position: relative;
      top: 1px; }
      #page-wrapper nav.tabs ul.tabs:after {
        content: "";
        display: table;
        clear: both; }
      #page-wrapper nav.tabs ul.tabs li {
        background: #e5e5e5;
        border-left: 1px solid #c7d0d3;
        border-top: 1px solid #c7d0d3;
        float: left; }
        #page-wrapper nav.tabs ul.tabs li.current_page_item a {
          background: #fff !important;
          color: #666 !important;
          border-bottom: none;
          margin: 0; }
        #page-wrapper nav.tabs ul.tabs li:last-of-type {
          border-right: 1px solid #c7d0d3; }
        #page-wrapper nav.tabs ul.tabs li a {
          padding: 10px 15px;
          border-bottom: none; }
  #page-wrapper .col-1 header.sub-header {
    margin-bottom: 10px; }
  #page-wrapper .col-1 nav.sub-nav {
    padding-bottom: 0;
    border: 0;
    margin-bottom: 30px; }
    #page-wrapper .col-1 nav.sub-nav ul.border {
      border-bottom: 1px solid rgba(87, 119, 136, 0.2);
      margin-bottom: 0;
      padding-bottom: 30px; }
  #page-wrapper .sidebar nav.sub-nav {
    border-bottom: none;
    overflow: hidden; }
    #page-wrapper .sidebar nav.sub-nav li {
      width: 100%;
      display: block;
      line-height: 20px; }
      #page-wrapper .sidebar nav.sub-nav li.page-item-42 {
        height: 75px;
        margin-top: 20px; }
        #page-wrapper .sidebar nav.sub-nav li.page-item-42 a {
          background: url("/wp-content/themes/uli/assets/images/members-on-a-mission.jpg") !important;
          color: #fff;
          padding-top: 66px; }
      #page-wrapper .sidebar nav.sub-nav li ul {
        display: none; }
      #page-wrapper .sidebar nav.sub-nav li.current_page_item a {
        background: #8fb246;
        color: #fff; }
      #page-wrapper .sidebar nav.sub-nav li.current_page_parent a {
        background: #8fb246;
        color: #fff; }
      #page-wrapper .sidebar nav.sub-nav li.current_page_ancestor a {
        background: #8fb246;
        color: #fff; }
    #page-wrapper .sidebar nav.sub-nav a {
      padding: 12px 15px;
      border-bottom: 1px solid rgba(128, 149, 162, 0.2);
      color: #666666; }

nav.sub-nav {
  border-bottom: 1px solid rgba(87, 119, 136, 0.2);
  padding: 0 0 16px 0; }
  nav.sub-nav ul {
    margin-top: 15px; }
  nav.sub-nav li {
    display: inline-block; }
    nav.sub-nav li.current_page_item a, nav.sub-nav li.current_page_parent a {
      background: #8fb246;
      color: #fff;
      font-weight: 400;
      padding: 10px 15px; }
    nav.sub-nav li a {
      display: block;
      padding: 10px 0;
      color: #000;
      font-size: 14px;
      border-bottom: 3px solid #8fb246;
      margin: 0 6px 0 0;
      font-weight: 500; }

.sub-sub-nav-level-four a {
  color: #017573;
  font-weight: bold; }
.sub-sub-nav-level-four li.current_page_item a {
  background: #fff !important;
  color: #017573 !important;
  text-decoration: underline; }

.content a {
  color: #8fb246; }
.content img {
  max-width: 100%;
  height: auto; }
.content h2 {
  font-size: 24px;
  color: #017573;
  font-weight: 600;
  margin-bottom: 10px; }
.content h3 {
  font-size: 18px;
  line-height: 25px;
  color: #666;
  margin-bottom: 10px; }
.content ul, .content ol {
  margin: 20px; }
  .content ul li, .content ol li {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px; }
.content ul li {
  list-style-type: disc; }
.content ol li {
  list-style-type: decimal; }

h3.page-title {
  font-size: 24px;
  color: #017573;
  font-weight: 400;
  margin: 20px 0 10px 5px; }

/* wysiwyg image styling */
.wp-caption {
  max-width: 100%; }

.wp-caption.two-column {
  width: 48% !important;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }
  .wp-caption.two-column img {
    width: 100%;
    height: auto;
    border: 0 none;
    margin: 0;
    padding: 0; }

.wp-caption.alignleft {
  margin: 5px 2% 20px 0;
  float: left;
  max-width: 100%; }

.wp-caption.aligncenter {
  display: block;
  margin: 20px auto 20px auto;
  max-width: 100%; }

.wp-caption.alignright {
  margin: 5px 0 20px 2%;
  float: right;
  max-width: 100%; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

.menu-overflow {
  position: fixed;
  overflow-y: scroll;
  width: 100%; }

.members-home .members-breadcrumb {
  font-size: 14px;
  color: #8fb246;
  border-bottom: 1px solid rgba(87, 119, 136, 0.2);
  padding-bottom: 10px;
  margin-bottom: 16px;
  font-weight: 500; }
  .members-home .members-breadcrumb a {
    color: #8fb246; }
.members-home .share-this {
  top: 2px; }

.toggles-wrap .toggle {
  border-bottom: 1px solid #bcd094; }
  .toggles-wrap .toggle.open .top {
    background: #f4f7ed;
    color: #8fb14c; }
    .toggles-wrap .toggle.open .top .box {
      background-image: url(/wp-content/themes/uli/assets/images/togglex.png);
      background-color: #f4f7ed; }
  .toggles-wrap .toggle .top {
    clear: both;
    overflow: hidden;
    background: #8fb14c;
    background: -moz-linear-gradient(left, #b1c982 0%, #8fb14c 28%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b1c982), color-stop(28%, #8fb14c));
    background: -webkit-linear-gradient(left, #b1c982 0%, #8fb14c 28%);
    background: -o-linear-gradient(left, #b1c982 0%, #8fb14c 28%);
    background: -ms-linear-gradient(left, #b1c982 0%, #8fb14c 28%);
    background: linear-gradient(to right, #b1c982 0%, #8fb14c 28%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1c982', endColorstr='#8fb14c',GradientType=1 );
    padding: 30px 30px 30px 40px;
    color: #fff;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .toggles-wrap .toggle .top:hover .title, .toggles-wrap .toggle .top:hover .amount {
      opacity: .7; }
    .toggles-wrap .toggle .top .box {
      background: url(/wp-content/themes/uli/assets/images/toggle+.png) no-repeat center center #8fb14c;
      width: 25px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .toggles-wrap .toggle .top .title, .toggles-wrap .toggle .top .amount {
      -webkit-transition: opacity .3s ease-in-out;
      -moz-transition: opacity .3s ease-in-out;
      -o-transition: opacity .3s ease-in-out;
      transition: opacity .3s ease-in-out; }
    .toggles-wrap .toggle .top .title {
      font-size: 22px;
      font-weight: 500;
      float: left;
      width: 76.5%; }
    .toggles-wrap .toggle .top .amount {
      font-size: 17px;
      font-weight: 300;
      overflow: hidden;
      float: left; }
  .toggles-wrap .toggle .bottom {
    background: #f4f7ed;
    clear: both;
    overflow: hidden;
    padding: 0 30px 30px 40px;
    display: none; }
    .toggles-wrap .toggle .bottom .column {
      color: #000;
      font-size: 14px;
      line-height: 24px;
      margin: 15px 0;
      font-weight: 300;
      width: 23.5%;
      float: left;
      margin-right: 2%; }
      .toggles-wrap .toggle .bottom .column.last {
        margin-right: 0; }
      .toggles-wrap .toggle .bottom .column p {
        line-height: 18px;
        margin: 0 0 8px 0; }
        .toggles-wrap .toggle .bottom .column p.special::after {
          content: url(/wp-content/themes/uli/assets/images/toggle-gov.png);
          padding-left: 5px; }
        .toggles-wrap .toggle .bottom .column p br {
          line-height: 24px; }

.note {
  font-size: 12px;
  font-weight: 500;
  margin: 20px 0;
  padding-left: 15px;
  background: url(/wp-content/themes/uli/assets/images/toggle-gov.png) no-repeat left center; }

.page-template-page-story-detail .story-image {
  margin-bottom: 30px; }
.page-template-page-story-detail .content {
  margin-bottom: 60px; }

.story-landing {
  min-width: 1024px;
  padding-top: 69px; }
  .story-landing .top-image {
    width: 100%;
    height: 200px;
    min-width: 1024px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 650px; }
    .story-landing .top-image .share-this {
      position: absolute;
      top: 40px;
      right: 50px;
      color: #fff;
      z-index: 2; }
      .story-landing .top-image .share-this:before {
        background-image: url("/wp-content/themes/uli/assets/images/icon-share-white.png"); }
    .story-landing .top-image .fade {
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .story-landing .top-image .scroll-down {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      width: 80px;
      cursor: pointer;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out; }
      .story-landing .top-image .scroll-down:hover {
        opacity: .7; }
    .story-landing .top-image .inner {
      max-width: 1200px;
      padding: 30px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: auto;
      z-index: 1;
      position: relative; }
      .story-landing .top-image .inner .chapter {
        display: inline-block;
        border: 1px solid #fff;
        padding: 20px 28px;
        font-size: 21px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 60px; }
      .story-landing .top-image .inner h1 {
        font-size: 70px;
        color: #fff;
        letter-spacing: -3px;
        font-weight: 300;
        margin: 75px auto 25px; }
      .story-landing .top-image .inner p {
        color: #fff;
        font-size: 24px;
        line-height: 36px; }
  .story-landing .row {
    max-width: 1200px;
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    margin: 50px auto; }
    .story-landing .row .icon.share.share-this {
      position: relative;
      float: right;
      top: 25px;
      right: 0; }
    .story-landing .row .content-area h2 {
      font-size: 40px;
      color: #8fb246;
      margin-bottom: 20px;
      letter-spacing: -2px; }
    .story-landing .row .nav-sidebar {
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      font-size: 14px;
      line-height: 17px; }
      .story-landing .row .nav-sidebar span {
        display: block;
        padding: 25px 20px;
        color: #0b605e;
        text-transform: uppercase;
        border-bottom: 1px solid #bfbfbf; }
      .story-landing .row .nav-sidebar ul li {
        display: block;
        padding: 23px 20px 23px 40px;
        background: url("/wp-content/themes/uli/assets/images//landing-nav-arrow.png") no-repeat 25px 25px;
        border-bottom: 1px solid #bfbfbf; }
        .story-landing .row .nav-sidebar ul li:last-child {
          border-bottom: none; }
        .story-landing .row .nav-sidebar ul li.active {
          font-weight: 500;
          background-image: url("/wp-content/themes/uli/assets/images//landing-nav-arrow-active.png");
          background-color: #f4f4f4; }
          .story-landing .row .nav-sidebar ul li.active a {
            color: #8fb246; }
        .story-landing .row .nav-sidebar ul li a {
          color: #000; }
  .story-landing .content-area a {
    color: #8fb246; }
  .story-landing .content-area img {
    max-width: 100%;
    height: auto; }
  .story-landing .content-area h3 {
    font-size: 18px;
    line-height: 25px;
    color: #666;
    margin-bottom: 10px; }
  .story-landing .content-area ul, .story-landing .content-area ol {
    margin: 20px; }
    .story-landing .content-area ul li, .story-landing .content-area ol li {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px; }
  .story-landing .content-area ul li {
    list-style-type: disc; }
  .story-landing .content-area ol li {
    list-style-type: decimal; }
  .story-landing .content-area .entry-content p:first-child {
    font-size: 18px;
    line-height: 26px; }

.page-template-page-story-home header#global, .page-template-page-story-detail-php header#global {
  position: fixed;
  z-index: 3; }
  @media (max-width: 1024px) {
    .page-template-page-story-home header#global, .page-template-page-story-detail-php header#global {
      position: absolute; } }

.snippets li {
  width: 100%;
  border-bottom: 1px solid rgba(87, 119, 136, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .snippets li:after {
    content: "";
    display: table;
    clear: both; }
.snippets .column {
  box-sizing: border-box;
  padding-left: 20px;
  overflow: hidden; }
  .snippets .column h2 {
    font-size: 18px;
    font-weight: bold;
    color: #107773;
    margin-bottom: 5px; }
    .snippets .column h2 a {
      color: #107773; }
  .snippets .column h3 {
    font-size: 18px;
    font-weight: normal;
    color: #000; }
    .snippets .column h3 a {
      color: 000; }
  .snippets .column p a {
    font-weight: bold;
    color: #000; }
.snippets .photo {
  float: left;
  width: 240px;
  height: 155px;
  display: inline-block;
  background-position: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }

.sidebar-content {
  margin-top: 40px;
  box-sizing: border-box;
  padding: 10px;
  background: rgba(204, 204, 204, 0.31);
  font-size: 14px;
  line-height: 21px; }

.highlights-home .highlight-breadcrumb {
  font-size: 14px;
  color: #8fb246;
  border-bottom: 1px solid rgba(87, 119, 136, 0.2);
  padding-bottom: 10px;
  margin-bottom: 16px;
  font-weight: 500; }
  .highlights-home .highlight-breadcrumb a {
    color: #8fb246; }
.highlights-home .share-this {
  top: 2px; }

#page-wrapper.highlights-home .sidebar nav.sub-nav li.current_page_item ul,
#page-wrapper.highlights-home .sidebar nav.sub-nav li.current_page_parent ul {
  display: block;
  border-bottom: 1px solid rgba(128, 149, 162, 0.2);
  padding-bottom: 14px;
  margin: 0 6px 0 0; }

#page-wrapper.highlights-home .sidebar nav.sub-nav li.current_page_item ul.children li a,
#page-wrapper.highlights-home .sidebar nav.sub-nav li.current_page_parent ul.children li a {
  background: #fff;
  color: #999;
  font-size: 12px;
  line-height: 17px;
  padding: 8px 15px 0 15px;
  border-bottom: none; }

#page-wrapper.highlights-home .sidebar nav.sub-nav li.current_page_parent ul.children li.current_page_item a {
  color: #8fb246; }

table {
  width: 100%; }
  table div {
    z-index: 1;
    position: relative; }
  table tbody {
    border-left: 1px solid #c7d0d3;
    border-right: 1px solid #c7d0d3; }
  table tr {
    color: #616161;
    text-align: left;
    font-size: 12px; }
    table tr:nth-child(odd) {
      background: #e5e5e5; }
      table tr:nth-child(odd):last-of-type {
        background: #c9d4b6; }
    table tr td {
      padding: 9px;
      border-right: 1px solid #c7d0d3; }
      table tr td:nth-child(5) {
        border-right: 0; }
      table tr td:last-of-type {
        position: relative;
        border-right: 0; }
        table tr td:last-of-type:before {
          position: absolute;
          background: rgba(120, 162, 47, 0.25);
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          content: ""; }
    table tr th {
      background: #1e7a78;
      color: #fff;
      border-right: 1px solid rgba(255, 255, 255, 0.15);
      padding: 9px;
      font-weight: bold;
      text-transform: uppercase; }
      table tr th:nth-child(5) {
        border-right: 0; }
      table tr th:last-of-type {
        position: relative;
        background: #78a22f;
        color: #fff;
        font-weight: bold; }
        table tr th:last-of-type:before {
          position: absolute;
          background: rgba(120, 162, 47, 0.45);
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          content: ""; }
    table tr.title {
      font-weight: bold;
      text-transform: uppercase; }
      table tr.title td {
        border-bottom: 1px solid #c7d0d3; }
    table tr.totals {
      background: #c7d0d3 !important; }
      table tr.totals td:nth-child(1) {
        font-weight: bold; }
      table tr.totals td:last-of-type {
        position: relative;
        background: #78a22f;
        color: #fff;
        font-weight: bold; }
        table tr.totals td:last-of-type:before {
          position: absolute;
          background: rgba(120, 162, 47, 0.45);
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          content: ""; }

body.search h2 {
  border-bottom: 0; }
  body.search h2 a {
    color: #666666;
    font-size: 18px;
    font-weight: bold; }
body.search p {
  margin: 0 0 40px 0; }
  body.search p a {
    color: #000; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Gotham A', 'Gotham B',sans-serif;
  overflow: hidden; }
  @media (max-width: 1024px) {
    body {
      overflow: visible; } }
  body.page-template-page-story-home-php, body.page-template-page-story-detail-php {
    overflow: visible; }

.contain {
  max-width: 1200px;
  margin: auto;
  min-width: 1000px; }

.hidden {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: -1 !important; }

.show {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 2 !important; }

a {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  a:hover {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: .7; }

/*# sourceMappingURL=styles.css.map */
