a {
	text-decoration: none;

	&.cta {
		font-weight: 400;
		display: inline-block;
		text-transform: uppercase;
		@include transition(background, .2s, ease-in-out);
		width: 352px;
		box-sizing: border-box;
		padding-left: 75px !important;
		text-align: left;
		margin-right: 10px;
		line-height: 16px;
		font-weight: 500;
		font-size: 15px;
		padding: 30px 17px 30px 75px;
		z-index: 1;
		@media (min-width: 1500px) {
			font-size: 18px;
		}
		@include breakpoint(mobile) {
			width: 100%;
			padding: 15px 15px 15px 55px!important;
			font-size: 13px;
			margin: 0 0 10px;
			background-position: right 10px center;
		}
		&:hover {
			@include transition(background, .2s, ease-in-out);
		}
	}

	&.brand-3 {
		background: rgba($brand-color-9, .45) url(#{$image-path}/button-arrow.png) no-repeat right 10px bottom 30px;
		background-color: rgba($brand-color-9, .45);
		color: #fff;
		@include breakpoint(mobile) {
			background-position: right 10px center;
		}
		&:hover {
			background: rgba($brand-color-9, .25) url(#{$image-path}/button-arrow.png) no-repeat right 10px bottom 30px;
			background-color: rgba($brand-color-9, .25);
			opacity: 1 !important;
			@include breakpoint(mobile) {
				background-position: right 10px center;
			}
		}
	}

	&.brand-2 {
		background: rgba($brand-color-1, .6) url(#{$image-path}/button-arrow.png) no-repeat right 10px bottom 30px;
		background-color: rgba($brand-color-1, .6);
		color: #fff;
		@include breakpoint(mobile) {
			background-position: right 10px center;
		}
		&:hover {
			background: rgba(#5c7c2f, .6) url(#{$image-path}/button-arrow.png) no-repeat right 10px bottom 30px;
			background-color: rgba(#5c7c2f, .6);
			opacity: 1 !important;
			@include breakpoint(mobile) {
				background-position: right 10px center;
			}
		}
	}
}