footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px 20px 11px;
	box-sizing: border-box;

	.contain {
		position: relative;
		max-width: 100%;
		padding: 0 40px;
	}

	.copyright {
		color: #fff;
		font-size: 12px;
		padding-bottom: 10px;
		text-align: center;
		@include breakpoint(mobile) {
			font-size: 8px;
		}
	}

	a.block {
		position: absolute;
		right: 40px;
		bottom: 0;
		background: rgba(#000, .4);
		padding: 10px 33px 9px 15px;
		color: #fff;
		font-size: 12px;
	}
}

.share-overlay {
	position: fixed;
	z-index: 10000;
	background: #000;
	background: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	.close {
		display: inline-block;
		position: absolute;
		right: 25px;
		top: 25px;
	}
	.share-inner {
		background: #fff;
		width: 300px;
		height: 105px;
		padding: 41px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		margin: auto;
		.title {
			color: #474747;
			font-size: 32px;
			margin-bottom: 30px;
		}
		.at-share-btn.at-svc-facebook, .at-share-btn.at-svc-twitter, .at-share-btn.at-svc-pinterest_share, .at-share-btn.at-svc-linkedin, .at-share-btn.at-svc-google, .at-share-btn.at-svc-flickr, .at-share-btn.at-svc-compact {
			margin: 0 5px;
		}
	}
}