/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


header.sub-header {
	margin-bottom: 30px;
	position: relative;

	&.alternative {
		margin-bottom: 10px;
	}
}

.share-this {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 12px;
	text-transform: uppercase;
	color: $brand-color-5;
	font-weight: bold;
	cursor: pointer;
}

#page-wrapper {
	width: 100%;
	overflow: hidden;
	@include breakpoint(mobile) {
		overflow: visible;
		min-width: 1024px;
		height: auto!important;
	}
	.contain {
		background: #fff;
		max-width: 1200px;
		padding: 30px;
		box-sizing: border-box;
		height: 100%;
		overflow: auto;
	}

	.tabs-content {
		border-left: 1px solid #c7d0d3;
		border-right: 1px solid #c7d0d3;
		border-bottom: 1px solid #c7d0d3;
		padding: 30px;
		box-sizing: border-box;
	}

	nav.tabs {
		padding-bottom: 0;

		ul.border {
			border-bottom: 1px solid rgba(87, 119, 136, 0.2);
			padding-bottom: 15px;
			margin-bottom: 25px;
		}

		ul.tabs {
			@include clearfix();
			position: relative;
			top: 1px;

			li {
				background: #e5e5e5;
				border-left: 1px solid #c7d0d3;
				border-top: 1px solid #c7d0d3;
				float: left;

				&.current_page_item {
					a {
						background: #fff !important;
						color: #666 !important;
						border-bottom: none;
						margin: 0;
					}
				}

				&:last-of-type {
					border-right: 1px solid #c7d0d3;
				}

				a {
					padding: 10px 15px;
					border-bottom: none;
				}
			}
		}
	}

	.col-1 {
		header.sub-header {
			margin-bottom: 10px;
		}

		nav.sub-nav {
			padding-bottom: 0;
			border: 0;
			margin-bottom: 30px;

			ul.border {
				border-bottom: 1px solid rgba(87, 119, 136, 0.2);
				margin-bottom: 0;
				padding-bottom: 30px;
			}
		}
	}

	.sidebar {
		nav.sub-nav {
			border-bottom: none;
			overflow: hidden;

			li {
				width: 100%;
				display: block;
				line-height: 20px;

				&.page-item-42 {
					height: 75px;
					margin-top: 20px;
					a {
						background: url('/wp-content/themes/uli/assets/images/members-on-a-mission.jpg') !important;
						color: #fff;
						padding-top: 66px;
					}
				}

				ul {
					display: none;
				}

				&.current_page_item {
					a {
						background: $brand-color-1;
						color: #fff;
					}
				}

				&.current_page_parent {
					a {
						background: $brand-color-1;
						color: #fff;
					}
				}

				&.current_page_ancestor {
					a {
						background: $brand-color-1;
						color: #fff;
					}
				}
			}

			a {
				padding: 12px 15px;
				border-bottom: 1px solid rgba(#8095a2, .2);
				color: #666666;
			}
		}
	}
}

nav.sub-nav {
	border-bottom: 1px solid rgba(#577788, .2);
	padding: 0 0 16px 0;
	ul {
		margin-top: 15px;
	}
	li {
		display: inline-block;

		&.current_page_item, &.current_page_parent {
			a {
				background: #8fb246;
				color: #fff;
				font-weight: 400;
				padding: 10px 15px;
			}
		}

		a {
			display: block;
			padding: 10px 0;
			color: #000;
			font-size: 14px;
			border-bottom: 3px solid #8fb246;
			margin: 0 6px 0 0;
			font-weight: 500;
		}
	}
}



.sub-sub-nav-level-four {
	a {
		color: $brand-color-4;
		font-weight: bold;
	}
	li {
		&.current_page_item {
			a {
				background: #fff !important;
				color: $brand-color-4 !important;
				text-decoration: underline;
			}
		}
	}

}

.content {
	a {
		color: $brand-color-1;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	h2 {
		font-size: 24px;
		color: $brand-color-4;
		font-weight: 600;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 18px;
		line-height: 25px;
		color: #666;
		margin-bottom: 10px;
	}

	ul, ol {
		margin: 20px;
		li {
			margin-bottom: 10px;
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
		}
	}
	ul {
		li {
			list-style-type: disc;
		}
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
}

h3.page-title {
	font-size: 24px;
	color: $brand-color-4;
	font-weight: 400;
	margin: 20px 0 10px 5px;
}



/* wysiwyg image styling */

.wp-caption {
	max-width: 100%;
}
.wp-caption.two-column {
	width: 48%!important;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	img {
		width: 100%;
		height: auto;
		border: 0 none;
	    margin: 0;
	    padding: 0;
	}
}

.wp-caption.alignleft {
	margin: 5px 2% 20px 0;
	float: left;
	max-width: 100%;
}

.wp-caption.aligncenter {
	display: block;
	margin: 20px auto 20px auto;
	max-width: 100%;
}

.wp-caption.alignright {
	margin: 5px 0 20px 2%;
	float: right;
	max-width: 100%;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.menu-overflow {
	position: fixed;
	overflow-y: scroll;
	width: 100%;
}

.members-home {
	.members-breadcrumb {
		font-size: 14px;
		color: #8fb246;
		border-bottom: 1px solid rgba(87, 119, 136, 0.2);
		padding-bottom: 10px;
		margin-bottom: 16px;
		font-weight: 500;
		a {
			color: #8fb246;
		}
	}
	.share-this {
		top: 2px;
	}
}

.toggles-wrap {
	.toggle {
		border-bottom: 1px solid #bcd094;
		&.open {
			.top {
				background: #f4f7ed;
				color: #8fb14c;
				.box {
					background-image: url(#{$image-path}togglex.png);
					background-color: #f4f7ed;
				}
			}
		}
		.top {
			clear: both;
			overflow: hidden;
			background: #8fb14c;
			background: -moz-linear-gradient(left, #b1c982 0%, #8fb14c 28%);
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b1c982), color-stop(28%,#8fb14c));
			background: -webkit-linear-gradient(left, #b1c982 0%,#8fb14c 28%);
			background: -o-linear-gradient(left, #b1c982 0%,#8fb14c 28%);
			background: -ms-linear-gradient(left, #b1c982 0%,#8fb14c 28%);
			background: linear-gradient(to right, #b1c982 0%,#8fb14c 28%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1c982', endColorstr='#8fb14c',GradientType=1 );
			padding: 30px 30px 30px 40px;
			color: #fff;
			position: relative;
			cursor: pointer;
			@include transition-all();
			&:hover {
				.title, .amount {
					opacity: .7;
				}
			}
			.box {
				background: url(#{$image-path}toggle+.png) no-repeat center center #8fb14c;
				width: 25px;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				@include transition-all();
			}
			.title, .amount {
				-webkit-transition: opacity .3s ease-in-out;
				-moz-transition: opacity .3s ease-in-out;
				-o-transition: opacity .3s ease-in-out;
				transition: opacity .3s ease-in-out;
			}
			.title {
				font-size: 22px;
				font-weight: 500;
				float: left;
				width: 76.5%;
			}
			.amount {
				font-size: 17px;
				font-weight: 300;
				overflow: hidden;
				float: left;
			}
		}
		.bottom {
			background: #f4f7ed;
			clear: both;
			overflow: hidden;
			padding: 0 30px 30px 40px;
			display: none;
			.column {
				color: #000;
				font-size: 14px;
				line-height: 24px;
				margin: 15px 0;
				font-weight: 300;
				width: 23.5%;
				float: left;
				margin-right: 2%;
				&.last {
					margin-right: 0;
				}
				p {
					line-height: 18px;
					margin: 0 0 8px 0;
					&.special {
						&::after {
							content: url(#{$image-path}toggle-gov.png);
							padding-left: 5px;
						}
					}
					br {
						line-height: 24px
					}
				}
			}
		}
	}
}
.note {
	font-size: 12px;
	font-weight: 500;
	margin: 20px 0;
	padding-left: 15px;
	background: url(#{$image-path}toggle-gov.png) no-repeat left center;
}
