.full {
	width: 100%;
}

.col-1 {
	width: 80%;
	float: left;
	padding-right: 20px;
	box-sizing: border-box;
}

.col-2 {
	width: 20%;
	float: right;
	max-width: 200px;

}

.row {
	@include clearfix();
}