a.logo {
	text-indent: -9999px;
	font-size: 1px;
	background: url(#{$image-path}logo.png) no-repeat;
	display: block;
	width: 210px;
	height: 62px;
}

header#home {
	padding: 11px 11px 0 11px;
	position: relative;
	z-index: 1;
	margin: 35px 0 0;
	@include breakpoint(mobile) {
		margin: 30px auto 0;
		clear: both;
		overflow: hidden;
		padding: 0 10px;
	}
	.contain {
		max-width: 100%;
		padding: 0 40px;
		@include breakpoint(mobile) {
			min-width: 0;
			clear: both;
			overflow: hidden;
			padding: 0;
		}
	}

	a.logo {
		float: left;
		@include breakpoint(mobile) {
			width: 157.5px;
			height: 46.5px;
			background-size: 100%;
		}
	}
	.click-nav {
		width: 35px;
		height: 35px;
		background: url(#{$image-path}homepage-mobile-nav.png) no-repeat center center;
		-moz-background-size: 80%;
		-webkit-background-size: 80%;
		background-size: 80%;
		float: right;
		padding: 3px 0;
		display: none;
		@include breakpoint(mobile) {
			display: block;
		}
	}
	nav {
		float: right;
		@include breakpoint(mobile) {
			display: none;
		}
		li {
			display: inline-block;
			margin: 0 10px;
			font-size: 16px;

			&.social {
				margin: 0 8px;

				a {
					text-indent: -9999px;
				}
			}

			&.search {
				border-left: 1px solid rgba(#fff, .5);
				padding-left: 14px;
				position: relative;
				top: 4px;

				a {
					display: block;
					float: left;
					position: relative;
					top: 3px;
				}

				input {
					opacity: 0;
					width: 0;
					background: transparent;
					border: 0;
					border-bottom: 1px solid #fff;
					@include transition(all, .5s, ease-in-out);
					float: left;
					color: #fff;
					font-weight: 500;
					font-size: 14px;

					&.active {
						width: 280px;
						opacity: 1;
						@include transition(all, .5s, ease-in-out);
					}
				}
			}

			&.last {
				margin-right: 8px;
			}
		}

		a {
			color: #fff;
		}
	}
}

#main-nav {
	@include transition(all, .5s, ease-in-out);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(#fff, .97);
	@include breakpoint(mobile) {
		background: #e4ecd5;
		position: fixed;
		bottom: 0;
		overflow: scroll;
	}
	&.disabled {
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}

	&.active {
		opacity: 1;
		visibility: visible;
		z-index: 100;
	}

	header {
		width: 100%;
		padding: 13px 10px 0 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		@include breakpoint(mobile) {
			background: #78a22f;
			padding: 13px 20px 0 20px;
		}
		.inner-wrap {
			border-bottom: 1px solid rgba(#577788, .2);
			padding: 0 0 11px 0;
			clear: both;
			overflow: hidden;
		}
		.title {
			color: #4c4c4c;
			font-size: 28px;
			font-weight: 400;
			display: inline-block;
			float: left;
			padding: 8px 0 8px 65px;
			background: url(#{$image-path}/nav-icon-grid.jpg) 5px center no-repeat;
			@include breakpoint(mobile) {
				background: none;
				padding-left: 0;
				color: #fff;
				font-size: 17px;
				font-weight: 300;
				margin-top: 5px;
			}
		}
		ul {
			float: right;
			li {
				display: inline-block;
				padding: 0 3px;
				float: left;
				&:first-child {
					padding: 15px;
					display: inline-block;
					height: auto;
					margin-right: 40px;
					@include breakpoint(mobile) {
						display: none;
					}
				}
				&:last-of-type {
					height: 45px;
					width: 45px;
					background: #eeefef;
					a {
						height: 45px;
						width: 100%;
					}
				}
			}
			a {
				font-size: 13px;
				color: #000;		
				@include transition(opacity, .3s, ease-in-out);
				&:hover {
					opacity: .6;
					@include transition(opacity, .3s, ease-in-out);
				}
			}
		}
	}
	.mobile-title {
		background: #666;
		font-weight: 500;
		font-size: 16px;
		color: #fff;
		padding: 15px 20px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: none;
		@include breakpoint(mobile) {
			display: block;
		}
	}
	nav, nav ul {
		height: 100%;
	}
	nav ul.primary {
		width: 80%;
		float: left;
		@include breakpoint(mobile) {
			width: 100%;
			height: auto;
			float: none;
		}
	}
	nav ul.secondary {
		width: 20%;
		float: left;
		@include breakpoint(mobile) {
			width: 100%;
			height: auto;
			float: none;
			padding-top: 10px;
		}
		li {
			width: 100%;
			&:before {
				border-left: none;
				border-bottom: none;
				border-right: 10px solid #fff;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				@include breakpoint(mobile) {
					border: none;
				}
			}
			&.last {
				.link {
					display: block;
					position: absolute;
					height: 85px;
					top: 10px;
					bottom: 0;
					margin: auto;
					padding-top: 0;
					@include breakpoint(mobile) {
						position: relative;
						height: auto;
						top: 0;
						margin-bottom: 5px;
					}
					a {
						width: 100%;
						font-size: 13px;
						line-height: 20px;
						display: block;
						height: auto;
						margin-bottom: 14px;
						@include breakpoint(mobile) {
							font-size: 14px;
							display: block;
							line-height: 32px;
							font-weight: 300;
							padding-bottom: 0;
							margin-bottom: 0;
						}
					}
				}
			}
			.background-color {
				background-color: #091c1b;
				@include breakpoint(mobile) {
					display: none;
				}
			}
			.link {
				vertical-align: middle;
				display: table-cell;
				padding: 0 40px;
				@include breakpoint(mobile) {
					display: block;
					padding: 5px 20px;
				}
				a {
					width: auto;
					padding: 0;
					font-size: 16px;
					line-height: 25px;
					@include breakpoint(mobile) {
						width: 100%;
						display: block;
						border-bottom: none;
						font-weight: 500;
						font-size: 14px;
					}
				}
			}
		}
	}
	nav li {
		height: 33.3%;
		float: left;
		width: 49.6%;
		display: table;
		position: relative;
		overflow: hidden;
		@include breakpoint(mobile) {
			height: auto;
			float: none;
			width: 100%;
		}
		&:hover {
			.background-image {
				@include transition(all, .3s, ease-in-out);
				opacity: .5;
			}
		}
		.background-color, .background-image {
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
		}
		.background-color {
			background: #000;
			@include breakpoint(mobile) {
				background: #fff;
			}
		}
		.background-image {
			@include transition(all, .3s, ease-in-out);
			opacity: .7;
			@include breakpoint(mobile) {
				display: none;
			}
		}
		&:before {
			position: absolute;
			border: 10px solid #fff;
			content: "";
			width: 100%;
			height: 100%;
			@include breakpoint(mobile) {
				position: static;
				border: none;
			}
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			text-align: left;
			vertical-align: top;
			display: table-cell;
			color: #fff;
			font-size: 28px;
			position: relative;
			font-weight: 400;
			padding: 0 40px;
			@include breakpoint(mobile) {
				color: #333;
				font-weight: 300;
				font-size: 20px;
				border-bottom: 1px solid #e5e5e5;
				padding: 10px 20px;
			}
			&:hover {
				@include breakpoint(mobile) {
					opacity: 1;
				}
			}
			.number {
				margin: 50px 0 20px;
				background: rgba(0, 0, 0, .3);
				display: inline-block;
				text-transform: uppercase;
				font-size: 14px;
				padding: 7px;
				letter-spacing: 1px;
				@include breakpoint(mobile) {
					display: none;
				}
			}
		}

		&.disabled {
			opacity: 0;
			visibility: hidden;
			//top: -20px;
			//left: -100px;
			@include scale(.8);
		}

		&.active {
			opacity: 1;
			visibility: visible;
			top: 0;
			left: 0;
			@include transition(all, .4s, ease-in-out);
			@include scale(1);
		}
	}
}

header#global {
	position: relative;
	width: 100%;
	background: $brand-color-7;
	@include clearfix();
	padding: 15px 0;
	height: 69px;
	min-width: 1024px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	.contain {
		max-width: 100%;
		padding: 0 40px;
		@include border-box();
	}

	a.logo {
		float: left;
		background-size: 100%;
		max-width: 122px;
		height: 35px;
		position: relative;
		top: 2px;
	}
	a.home {
		font-size: 13px;
		color: #fff;
		padding: 15px 20px 20px 45px;
		display: inline-block;
		font-weight: 300;
	}
	nav {
		float: right;
		margin-top: 9px;
		margin-right: -22px;
		li {
			display: inline-block;
			margin: 0 20px;
			font-size: 14px;

			.icon.explore {
				position: relative;
				display: block;
				height: 30px;
				width: 30px;
				top: -10px;
				left: 0;
				padding: 6px;
				background: #1e7a78;
				&:before {
					width: 42px;
				}
			}

			&.social {
				margin: 0 8px;
				max-width: 32px;

				a {
					text-indent: -9999px;
				}
			}

			&.search {
				padding-left: 14px;
				@include transition(all, .5s, ease-in-out);
				margin: 0 40px 0 30px;
				&.active {
					max-width: 177px;
					@include transition(all, .5s, ease-in-out);
				}

				a {
					display: block;
					float: left;
					position: relative;
					top: 1px;
				}

				input {
					opacity: 0;
					width: 0;
					background: transparent;
					border: 0;
					border-bottom: 1px solid #fff;
					@include transition(all, .5s, ease-in-out);
					float: left;
					color: #fff;
					font-weight: 500;
					font-size: 11px;
					height: 11px;
					margin-right: 5px;

					&.active {
						width: 150px;
						opacity: 1;
						@include transition(all, .5s, ease-in-out);
					}
				}
			}

			&.last {
				margin-right: 0;
				width: 42px;
			}
		}

		a {
			color: #fff;
		}
	}
}