.snippets {
	li {
		width: 100%;
		@include clearfix();
		border-bottom: 1px solid rgba(87, 119, 136, 0.2);
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.column {
		box-sizing: border-box;
		padding-left: 20px;
		overflow: hidden;

		h2 {
			font-size: 18px;
			font-weight: bold;
			color: $brand-color-5;
			margin-bottom: 5px;

			a {
				color: $brand-color-5;
			}
		}

		h3 {
			font-size: 18px;
			font-weight: normal;
			color: #000;

			a {
				color: 000;
			}
		}

		p a {
			font-weight: bold;
			color: #000;
		}
	}

	.photo {
		float: left;
		width: 240px;
		height: 155px;
		display: inline-block;
		background-position: center;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}
}


.sidebar-content {
	margin-top: 40px;
	box-sizing: border-box;
	padding: 10px;
	background: rgba(204, 204, 204, 0.31);
	font-size: 14px;
	line-height: 21px;
}

.highlights-home {
	.highlight-breadcrumb {
		font-size: 14px;
		color: #8fb246;
		border-bottom: 1px solid rgba(87, 119, 136, 0.2);
		padding-bottom: 10px;
		margin-bottom: 16px;
		font-weight: 500;
		a {
			color: #8fb246;
		}
	}
	.share-this {
		top: 2px;
	}
}


#page-wrapper.highlights-home .sidebar nav.sub-nav li.current_page_item ul,
#page-wrapper.highlights-home .sidebar nav.sub-nav li.current_page_parent ul {
	display: block;
	border-bottom: 1px solid rgba(128, 149, 162, 0.2);
	padding-bottom: 14px;
	margin: 0 6px 0 0;
}

#page-wrapper.highlights-home .sidebar nav.sub-nav li.current_page_item ul.children li a,
#page-wrapper.highlights-home .sidebar nav.sub-nav li.current_page_parent ul.children li a {
	background: #fff;
	color: #999;
	font-size: 12px;
	line-height: 17px;
	padding: 8px 15px 0 15px;
	border-bottom: none;
}

#page-wrapper.highlights-home .sidebar nav.sub-nav li.current_page_parent ul.children li.current_page_item a {
	color: #8fb246;
}