#video-wrapper {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	margin: auto;
	overflow: hidden;
	@include breakpoint(mobile) {
		position: static;
	}
	&.leadership-open {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	#full-screen-video {
		position: absolute;
	    right: 0;
	    bottom: 0;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%,-50%);
	    -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);
	    -moz-background-size: cover;
	    -webkit-background-size: cover;
	    background-size: cover;
	    @include breakpoint(mobile) {
	    	display: none;
	    }
	}
	.contain {
		@include breakpoint(mobile) {
			min-width: 0;
			max-width: 100%;
		}
	}
}

.page-background {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	margin: auto;
	background: #000;
	// z-index: 0;
	@include breakpoint(mobile) {
		background: url('#{$image-path}homepage-mobile-back.jpg') no-repeat center center;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.page-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: url(#{$image-path}pattern.png) repeat;
	z-index: 1;
	@include breakpoint(mobile) {
		display: none;
	}
}

.page-border {
	box-shadow: inset #FFFFFF 0px 0px 0px 11px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(#{$image-path}pattern.png) repeat;
}

.banner-content {
	@include clearfix();
	margin-bottom: 20px;
}

.banner {
	background: rgba(0, 0, 0, 0.4);
	padding: 87px 10px;
	box-sizing: border-box;
	position: absolute;
	z-index: 2;
	margin-top: -242px;
	text-align: center;
	top: 53%;
	min-height: 315px;
	left: 0;
	right: 0;
	width: auto;
	@media (max-height: 700px) {
		top: 59%;
	}
	@include breakpoint(mobile) {
		position: absolute;
		height: 315px;
		padding: 30px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	@include breakpoint(small-mobile) {
		top: 95px;
		bottom: initial;
	}
	p {
		font-size: 13px;
		color: #fff;
		line-height: 18px;
		max-width: 600px;
		margin: 0 auto;
	}

	h1 {
		@extend .small-spaced;
		text-transform: uppercase;
		font-size: 24px;
		border-bottom: 1px solid #99cc33;
		padding-bottom: 20px;
		max-width: 600px;
		margin: 0 auto 35px;
		letter-spacing: 3px;
		font-weight: 300;
		@media (min-width: 1500px) {
			max-width: 700px;
			font-size: 30px;
		}
		@include breakpoint(mobile) {
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 0;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
		span {
			font-weight: 500;
		}
	}

	h2 {
		@extend .large-header;
		margin-bottom: 15px;
		font-weight: 500;
		letter-spacing: 3px;
		line-height: 68px;
		@media (min-width: 1500px) {
			font-size: 65px;
		}
		@include breakpoint(mobile) {
			font-size: 24px;
			line-height: 10px;
			letter-spacing: 2px;
		}
		span {
			font-family: 'Goudy Old Style Italic';
			color: #fff;
			border-radius: 50px;
			display: inline-block;
			background: rgba($brand-color-1, .5);
			height: 65px;
			font-size: 28px;
			width: 64px;
			position: relative;
			top: -11px;
			text-align: center;
			padding: 0;
			font-style: italic;
			text-transform: lowercase;
			letter-spacing: -1px;
			line-height: 2.2em;
			@media (min-width: 1500px) {
				top: -17px;
			}
			@include breakpoint(mobile) {
				height: 45px;
				font-size: 22px;
				width: 45px;
				top: -4px;
				line-height: 41px;
			}
		}
	}

	h1, h2 {
		text-align: center;
	}
}

#leadership-message {
	position: absolute;
	z-index: -1;
	left:0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #fff;
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 62%, #e5e5e5 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(62%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 62%,#e5e5e5 100%);
	background: -o-radial-gradient(center, ellipse cover, #ffffff 62%,#e5e5e5 100%);
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 62%,#e5e5e5 100%);
	background: radial-gradient(ellipse at center, #ffffff 62%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
	opacity: 0;
	@include transition(opacity, .5s, ease-in-out);
	overflow: auto;

	&.active {
		z-index: 10;
		opacity:1;
		@include transition(opacity, .5s, ease-in-out);
	}
	#leadership-video-player {
		@include breakpoint(mobile) {
			display: none;
		}
	}
	#leadership-video-player-mobile {
		margin-top: 50px;
		display: none;
		@include breakpoint(mobile) {
			display: block;
		}
	}
	.share-this {
		color: #fff;
		top: 25px;
		right: 80px;
		z-index: 5;
		-webkit-transition: opacity 0.3s ease-in-out;
		-moz-transition: opacity 0.3s ease-in-out;
		-ms-transition: opacity 0.3s ease-in-out;
		-o-transition: opacity 0.3s ease-in-out;
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: .7;
		}
	}
	.icon.share {
		padding-right: 0;
		&:before {
			background: none;
		}
	}

	.back-to-top {
		position: fixed;
		bottom: 40px;
		right: 40px;
		@include breakpoint(mobile) {
			bottom: 20px;
			right: 20px;
		}
	}
	
	h1 {
		font-size: 21.5px;
		font-weight: 100;
		color: #fff;
		width: 100%;
		text-align: center;
		line-height: 28px;
		text-transform: uppercase;
		letter-spacing: 7px;
		border-bottom: 1px solid $brand-color-1;
		max-width: 500px;
		margin: 12px auto;
		padding: 100px 0 10px;
		@include breakpoint(mobile) {
			font-size: 13px;
			letter-spacing: 3px;
			width: 220px;
			padding-bottom: 0;
			margin-bottom: 5px;
		}
	}

	h2 {
		font-size: 44.5px;
		font-weight: 500;
		color: #fff;
		width: 100%;
		text-align: center;
		line-height: 28px;
		text-transform: uppercase;
		padding-top: 10px;
		@include breakpoint(mobile) {
			font-size: 20px;
			padding-top: 0;
		}
	}

	.leader-circles-wrap {
		margin: 50px auto;
		display: inline-block;
		text-align: center;
		clear: both;
		overflow: hidden;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		@include breakpoint(mobile) {
			position: relative;
			margin: 75px auto 0;
			display: block;
		}
		.title {
			letter-spacing: 4px;
			color: #fff;
			text-align: center;
			font-size: 13.5px;
			text-transform: uppercase;
			margin-bottom: 25px;
			@include breakpoint(mobile) {
				font-size: 11.5px;
			}
		}
		ul.leaders {
			display: table;
			margin: 0 auto;
			@include breakpoint(mobile) {
				display: block;
			}
			li {
				display: table-cell;
				width: 150px;
				margin-right: 10px;
				color: #fff;
				$circle-radius: 126px;
				cursor: pointer;
				@include breakpoint(mobile) {
					display: block;
					width: 70%;
					margin: 0 auto;
				}
				.leader-link{
					@include breakpoint(mobile) {
						clear: both;
						overflow: hidden;
						width: 250px;
						margin: 0 auto;
					}
				}
				.circle-hs {
					-moz-ackground-size: cover;
					-webkit-background-size: cover;
					background-size: cover;
					background-position: center;
					border-radius: $circle-radius / 2;
					height: 90px;
					width: 90px;
					margin: 0 auto 10px;
					transition: all .15s ease;
					@include breakpoint(mobile) {
						width: 50px;
						height: 50px;
						float: left;
					}
				}
				&:hover {
					.circle-hs {
						opacity: .8;
					}
				}
				a {
					display: inline-block;
					color: #fff;
					font-size: 14px;
					-moz-transition: none;
				    -webkit-transition: none;
				    -o-transition: color 0 ease-in;
				    transition: none;
				    -webkit-transition: opacity 0.3s ease-in-out;
					-moz-transition: opacity 0.3s ease-in-out;
					-ms-transition: opacity 0.3s ease-in-out;
					-o-transition: opacity 0.3s ease-in-out;
					transition: opacity 0.3s ease-in-out;
					-webkit-backface-visibility: hidden;
					&:hover {
						opacity: .7;
					}
				}
				.text {
					overflow: hidden;
				}
				.l-title {
					font-weight: 700;
					font-size: 11px;
					text-transform: uppercase;
					@include breakpoint(mobile) {
						float: left;
						margin-left: 10px;
						margin-top: 10px;
						text-align: left;
					}
				}
				.l-sub {				
					font-weight: 400;
					font-size: 8.5px;
					display: block;
					line-height: 12px;
					text-transform: uppercase;
					@include breakpoint(mobile) {
						float: left;
						margin-left: 10px;
						text-align: left;
					}
				}
				&:last-of-type {
					margin-right: 0;
					@include breakpoint(mobile) {
						margin-right: auto;
					}
				}
			}
		}
	}
	.two-column-leader {
		clear: both;
		overflow: hidden;
		padding: 0 100px;
		display: table;
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		@include breakpoint(mobile) {
			padding: 0;
			display: block;
		}
		.column-leader {
			display: table-cell;
			width: 600px;
			@include breakpoint(mobile) {
				width: 100%;
				display: block;
			}
		}
	}

	#video {
		@include clearfix();
		padding: 20px 0;
		display: table;
		margin: 0 auto;
		position: relative;
		width: 100%;
		overflow: hidden;
		background: #000;
		.video-overlay-bg {
			-moz-ackground-size: cover;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 2;
			@include transition(all, .4s, ease-in-out);
			@include breakpoint(mobile) {
				background: url(#{$image-path}ULI-mobile_top_image.jpg) no-repeat top center #000!important;
			}
		}
		.leadership-video {
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
			.x {
				background: url(#{$image-path}icon-overlay-close.png) no-repeat center center;
				width: 17px;
				height: 17px;
				text-indent: -9999px;
				display: block;
				position: absolute;
				top: 20px;
				right: 20px;
				z-index: 1;
			}
			@include breakpoint(mobile) {
				&.fixed-pos {
					position: fixed;
				}
			}
		}

		.video-overlay {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 900px;
			height: 100%;
			margin: auto;
			text-align: center;
			z-index: 3;
			transition: all .4s ease-in-out .15s;
			@include breakpoint(mobile) {
				position: relative;
				width: 100%;
				height: auto;
			}
		}

		.helper {
			position: absolute;
			z-index: 4;
			bottom: 30px;
			left: 0;
			right: 0;
			margin: 0 auto;
			text-transform: uppercase;
			transition: all .3s ease-in-out;
			font-size: 18px;
			color: #FFF;
			text-align: center;
		}

		.helper, .video-overlay, .video-overlay-bg {
			&.hidden {
				visibility: hidden;
				opacity: 0;
			}
		}

		p {
			font-size: 20px;
			line-height: 30px;
			color: #fff;
			max-width: 740px;
			margin: 40px auto;
			text-align: center;
		}
	}

	.main-photo {
		border-radius: 200px;
	}
	.leader-wrap {
		background: #fff;
		background: -moz-radial-gradient(center, ellipse cover, #ffffff 62%, #e5e5e5 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(62%,#ffffff), color-stop(100%,#e5e5e5));
		background: -webkit-radial-gradient(center, ellipse cover, #ffffff 62%,#e5e5e5 100%);
		background: -o-radial-gradient(center, ellipse cover, #ffffff 62%,#e5e5e5 100%);
		background: -ms-radial-gradient(center, ellipse cover, #ffffff 62%,#e5e5e5 100%);
		background: radial-gradient(ellipse at center, #ffffff 62%,#e5e5e5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
		background-attachment: fixed;
	}
	.leader {
		text-align: center;
		padding: 50px 0;
		@include clearfix();
		.caption {
			@include breakpoint(mobile) {
				font-size: 11px;
				line-height: 18px;
				margin: 0 auto 20px;
				font-style: italic;
			}
		}
		.alignleft {
			@include breakpoint(mobile) {
				float: left;
				margin: 5%;
				margin-left: 5%!important;
			}
			img {
				@include breakpoint(mobile) {
					margin: 0!important;
				}
			}
		}

		img {
			@include breakpoint(mobile) {
				max-width: 100%;
				height: auto;
			}
		}
		h2 {
			font-size: 39px;
			line-height: 37px;
			width: 80%;
			color: #000;
			padding: 20px 0;
			font-weight: 100;
			border-bottom: 1px solid $brand-color-1;
			max-width: 500px;
			margin: 0 auto;
			@include breakpoint(mobile) {
				font-size: 25px;
				padding: 20px 0 5px;
			}
			span {
				font-size: 14px;
				display: block;
				width: 100%;
				text-align: center;
				margin-top: 10px;
			}
		}

		h3 {
			font-size: 13px;
			font-weight: 100;
			margin-top: 15px;
			margin-bottom: 40px;
			text-transform: uppercase;
			strong {
				font-weight: 500;
			}
		}

		h4 {
			border-top: 17px solid $brand-color-1;
			border-bottom: 7px solid $brand-color-1;
			padding: 10px 0;
			color: #fff;
			font-size: 41px;
			max-width: 285px;
			margin: 40px auto;
		}
		blockquote {
			@include breakpoint(mobile) {
				max-width: 90%;
				padding: 15px 0;
				margin: 30px auto;
			}
			p {
				color: #339999;
				font-size: 30px;
				line-height: 35px;
				@include breakpoint(mobile) {
					font-size: 20px;
					line-height: 30px;
				}
			}
		}
		p {
			font-size: 14px;
			line-height: 30px;
			color: #000;
			max-width: 900px;
			margin: 0 auto 15px;
			text-align: left;
			@include breakpoint(mobile) {
				max-width: 90%;
			}
			&.blockquote-after {
				display: inline-block;
				max-width: 410px;
			}

			&.header {
				font-size: 17px;
				@include breakpoint(mobile) {
					font-size: 14px;
				}
				&:first-letter {
					float: left;
					color: $brand-color-1;
					font-size: 105px;
					line-height: 60px;
					padding-top: 13px;
					padding-right: 8px;
					padding-left: 0;
					@include breakpoint(mobile) {
						font-size: 14px;
						float: none;
						color: #000;
						font-size: 17px;
						line-height: 30px;
						padding: 0;
					}
				}
			}
			
			span {
				display: block;
				text-align: left;
				font-size: 14px;
			}
		}
		ul {
			max-width: 900px;
			margin: 0 auto;
			padding-left: 60px;
			@include breakpoint(mobile) {
				max-width: 90%;
				width: 90%;
				padding-left: 25px;
				box-sizing: border-box;
			}
			li {
				font-size: 14px;
				line-height: 30px;
				color: #000;
				max-width: 900px;
				margin: 0 auto 15px;
				text-align: left;
				list-style: disc;
				padding-left: 15px;
				font-weight: 300;
				@include breakpoint(mobile) {
					padding-left: 5px;
				}
			}
		}
		.signature {
			text-align: left;
			max-width: 900px;
			margin: 0 auto;
			padding: 40px 0 0;
			clear: both;
			overflow: hidden;
			@include breakpoint(mobile) {
				width: 90%;
				max-width: 90%;
			}
			.signature-column {
				width: 35%;
				float: left;
				font-size: 14px;
				line-height: 20px;
				@include breakpoint(mobile) {
					margin-bottom: 30px;
					width: 100%;
				}
				strong {
					display: block;
				}
			}
			img {
				margin-top: -20px;
				display: block;
			}
		}
		.leader-sharing {
			text-align: left;
			max-width: 900px;
			margin: 0 auto;
			border-bottom: 7px solid $brand-color-1;
			padding: 0 0 40px;
			@include breakpoint(mobile) {
				width: 90%;
				max-width: 90%;
			}
		}

	}
}

.home-content {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(#fff, .97);
	height: 100%;
	min-width: 500px;
	z-index: 5;
	box-shadow: #000 6px 0px 11px 5px;
	@include transition(all, .5s, ease-in-out);
	padding: 50px 85px 50px;
	max-width: 70%;
	box-sizing: border-box;

	.contain {
		overflow-y: auto;
		height: 100%;
	}

	&.disabled {
		right: -800px;
		opacity: 0;
		z-index: -1;
	}

	&.active {
		right: 0;
		@include transition(all, .5s, ease-in-out);
		opacity: 1;
		z-index: 10;
	}

	a.close {
		position: absolute;
		top: 50%;
		margin-top: -33px;
		left: -39px;
	}

	img.full {
		margin-bottom: 30px;
	}

}

.home-footer {
	.contain {
		min-width: 0;
	}
}