.icon {
	&.message {
		position: relative;
		padding-left: 63px;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 63px;
			height: 100%;
			background: rgba(#000, .5) url(#{$image-path}icon-message.png) no-repeat center center;
			content: "";
		}
	}

	&.video {
		position: relative;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(#{$image-path}icon-video.png) no-repeat center center;
			content: "";
			z-index: 1;
		}
	}

	&.explore {
		position: relative;
		padding-left: 63px;

		&:before {
			position: absolute;
			top: 0;
			left: 0px;
			width: 63px;
			height: 100%;
			background: rgba(#000, .5) url(#{$image-path}icon-explore.png) no-repeat center center;
			content: "";
			@include breakpoint(mobile) {
				width: 45px;
			}
		}
	}

	&.chat {
		position: relative;
		padding-left: 63px;

		&:before {
			position: absolute;
			top: 0;
			left: 0px;
			width: 63px;
			height: 100%;
			background: rgba(#000, .5) url(#{$image-path}icon-chat.png) no-repeat center center;
			content: "";
			@include breakpoint(mobile) {
				width: 45px;
			}
		}
	}

	&.twitter {
		background: url(#{$image-path}icon-twitter.png) no-repeat center center;
		display: block;
		width: 19px;
		height: 16px;
		background-size: 100%;
	}

	&.facebook {
		background: url(#{$image-path}icon-facebook.png) no-repeat center center;
		display: block;
		width: 9px;
		height: 18px;
		background-size: 100%;
		position: relative;
		top: -1px;
	}

	&.linkedin {
		background: url(#{$image-path}icon-linkedin.png) no-repeat center center;
		display: block;
		width: 16px;
		height: 17px;
		background-size: 100%;
	}

	&.instagram {
		background: url(#{$image-path}icon-instagram.png) no-repeat center center;
		display: block;
		width: 17px;
		height: 17px;
		background-size: 100%;
	}
	
	&.google {
		background: url(#{$image-path}icon_google.png) no-repeat center center;
		display: block;
		width: 18px;
		height: 19px;
		background-size: 100%;
	}

	&.flickr {
		background: url(#{$image-path}icon_flickr.png) no-repeat center center;
		display: block;
		width: 20px;
		height: 20px;
		background-size: 100%;
	}

	&.search {
		background: url(#{$image-path}icon-search.png) no-repeat center center;
		display: block;
		width: 14px;
		height: 14px;
	}

	&.download {

		&:before {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			background: url(#{$image-path}icon-download.png) no-repeat center center;
			display: block;
			width: 30px;
			content: "";
		}
	}

	&.close {
		background: url(#{$image-path}icon-close-vertical.png) no-repeat center center;
		width: 39px;
		height: 66px;
		text-indent: -9999px;
	}

	&.close-2 {
		background: url(#{$image-path}icon-close-2.png) no-repeat center center;
		width: 39px;
		height: 17px;
		text-indent: -9999px;
		display: block;
	}

	&.overlay-close {
		background: url(#{$image-path}icon-overlay-close.png) no-repeat center center rgba(0, 0, 0, .2);
		width: 17px;
		height: 17px;
		text-indent: -9999px;
		display: block;
		position: fixed;
		z-index: 5;
		cursor: pointer;
		padding: 5px;
		top: 40px;
		right: 40px;
		@include breakpoint(mobile) {
			top: 20px;
			right: 20px;
		}
		&.hidden {
			display: none;
		}
	}

	&.overlay-video-play {
		background: url(#{$image-path}icon-overlay-video2.png) no-repeat center center;
		width: 125px;
		height: 125px;
		text-indent: -9999px;
		display: block;
		margin: 100px auto 0;
		cursor: pointer;
		transition: all .15s ease;
		opacity: .8;
		@include breakpoint(mobile) {
			position: absolute;
			top: 75px;
			width: 35px;
			height: 35px;
			left: 0;
			right: 0;
			-moz-background-size: 35px;
			-webkit-background-size: 35px;
			background-size: 35px;
		}
		&:hover {
			opacity: 1;
		}
	}

	&.share {
		padding-right: 25px;

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			height: 100%;
			background: url(#{$image-path}icon-share.jpg) no-repeat center center;
			content: "";
		}
	}
}
