h1 {
	&.section-title {
		@extend .section-title;
	}
}

h2 {}

.small-spaced {
	font-size: 24px;
	color: #fff;
	font-weight: 200;
	font-style: normal;
	text-transform: uppercase;

	span {
		color: $brand-color-1;
	}
}

.large-header {
	font-size: 57px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;

	span {
		color: $brand-color-1;
	}
}

.section-title {
	font-size: 28px;
	color: $brand-color-1;
	border-bottom: 1px solid rgba(#577788, .2);
	padding-bottom: 10px;
	margin-bottom: 16px;

	&.large {
		font-size: 45px;
		font-weight: 100;
	}
}

blockquote {
	color: #339999;
	font-size: 30px;
	line-height: 35px;
	max-width: 900px;
	margin: 40px auto;
	position: relative;
	text-transform: uppercase;
	border-top: 1px solid #b2b2b2;
	border-bottom: 1px solid #b2b2b2;
	padding: 30px 0px;
	p {
		color: #339999;
		font-size: 30px;
		line-height: 35px;
	}
}

p {
	color: $paragraph;
	font-size: 14px;
	line-height: 24px;
	margin: 15px 0;
	font-weight: 300;
}

h4 {
	background: #8ebcbb;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	padding: 10px;
	box-sizing: border-box;
}