.page-template-page-story-detail {
	.story-image {
		margin-bottom: 30px;
	}
	.content {
		margin-bottom: 60px;
	}
}

.story-landing {
	min-width: 1024px;
	padding-top: 69px;
	.top-image {
		width: 100%;
		height: 200px;
		min-width: 1024px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		position: relative;
		min-height: 650px;
		.share-this {
			position: absolute;
			top: 40px;
			right: 50px;
			color: #fff;
			z-index: 2;
			&:before {
				background-image: url('#{$image-path}icon-share-white.png');
			}
		}
		.fade {
			background: rgba(0, 0, 0, .3);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.scroll-down {
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;
			width: 80px;
			cursor: pointer;
			-webkit-transition: opacity 0.3s ease-in-out;
			-moz-transition: opacity 0.3s ease-in-out;
			-ms-transition: opacity 0.3s ease-in-out;
			-o-transition: opacity 0.3s ease-in-out;
			transition: opacity 0.3s ease-in-out;
			&:hover {
				opacity: .7;
			}
		}
		.inner {
			max-width: 1200px;
			padding: 30px;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin: auto;
			z-index: 1;
			position: relative;
			.chapter {
				display: inline-block;
				border: 1px solid #fff;
				padding: 20px 28px;
				font-size: 21px;
				font-weight: 300;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #fff;
				margin-top: 60px;
			}
			h1 {
				font-size: 70px;
				color: #fff;
				letter-spacing: -3px;
				font-weight: 300;
				margin: 75px auto 25px;
			}
			p {
				color: #fff;
				font-size: 24px;
				line-height: 36px;
			}
		}
	}
	.row {
		max-width: 1200px;
		padding: 30px;
		box-sizing: border-box;
		height: 100%;
		overflow: auto;
		margin: 50px auto;
		.icon.share.share-this {
			position: relative;
			float: right;
			top: 25px;
			right: 0;
		}
		.content-area {
			h2 {
				font-size: 40px;
				color: #8fb246;
				margin-bottom: 20px;
				letter-spacing: -2px;
			}
		}
		.nav-sidebar {
			border-top: 1px solid #000;
			border-left: 1px solid #000;
			border-bottom: 1px solid #000;
			font-size: 14px;
			line-height: 17px;
			span {
				display: block;
				padding: 25px 20px;
				color: #0b605e;
				text-transform: uppercase;
				border-bottom: 1px solid #bfbfbf;
			}
			ul {
				li {
					display: block;
					padding: 23px 20px 23px 40px;
					background: url('#{$image-path}/landing-nav-arrow.png') no-repeat 25px 25px;
					border-bottom: 1px solid #bfbfbf;
					&:last-child {
						border-bottom: none;
					}
					&.active {
						font-weight: 500;
						background-image: url('#{$image-path}/landing-nav-arrow-active.png');
						background-color: #f4f4f4;
						a {
							color: #8fb246;
						}
					}
					a {
						color: #000;
					}
				}
			}
		}
	}
	.content-area {
		a {
			color: #8fb246;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		h3 {
			font-size: 18px;
			line-height: 25px;
			color: #666;
			margin-bottom: 10px;
		}

		ul, ol {
			margin: 20px;
			li {
				margin-bottom: 10px;
				font-size: 14px;
				font-weight: 300;
				line-height: 24px;
			}
		}
		ul {
			li {
				list-style-type: disc;
			}
		}
		ol {
			li {
				list-style-type: decimal;
			}
		}
		.entry-content {
			p:first-child {
				font-size: 18px;
				line-height: 26px;
			}
		}
	}
}

.page-template-page-story-home, .page-template-page-story-detail-php {
	header#global {
		position: fixed;
		z-index: 3;
		@include breakpoint(mobile) {
			position: absolute;
		}
	}
}
