/*!
Theme Name: ULI Microsite
Theme URI: http://www.homefrontdc.com
Description: ULI Microsite 2015
Version: 1
Author: Home Front Communications
Author URI: http://homefrontdc.com
*/
@import "_reset";
@import "_mixins";
@import "_vars";
@import "_typography";
@import "_icons";
@import "_buttons";
@import "_grid";
@import "_header";
@import "_home";
@import "_footer";
@import "_global";
@import "story";
@import "highlights";
@import "table";
@import "search";

body {
	margin: 0;
	padding: 0;
	font-family: 'Gotham A', 'Gotham B',sans-serif;
	overflow: hidden;
	@include breakpoint(mobile) {
		overflow: visible;
	}
	&.page-template-page-story-home-php, &.page-template-page-story-detail-php {
		overflow: visible;
	}
}

.contain {
	max-width: 1200px;
	margin: auto;
	min-width: 1000px;
}

.hidden {
	opacity: 0;
	@include transition(opacity, .3s, ease-in-out);
	z-index: -1 !important;
}

.show {
	opacity: 1;
	@include transition(opacity, .3s, ease-in-out);
	z-index: 2 !important;
}

a {
	@include transition(opacity, .3s, ease-in-out);

	&:hover {
		@include transition(opacity, .3s, ease-in-out);
		opacity: .7;
	}
}