table {
	width: 100%;

	div {
		z-index: 1;
		position: relative;
	}

	tbody {
		border-left: 1px solid #c7d0d3;
		border-right: 1px solid #c7d0d3;
	}

	tr {
		color: #616161;
		text-align: left;
		font-size: 12px;

		&:nth-child(odd) {
			background: #e5e5e5;

			&:last-of-type {
				background: #c9d4b6;
			}
		}

		&:last-of-type {}

		td {
			padding: 9px;
			border-right: 1px solid #c7d0d3;

			&:nth-child(5) {
				border-right: 0;
			}

			&:last-of-type {
				position: relative;
				border-right: 0;

				&:before {
					position: absolute;
					background: rgba(#78a22f, .25);
					top: 0;
					right:0;
					left: 0;
					bottom: 0;
					content: "";
				}
			}
		}

		th {
			background: #1e7a78;
			color: #fff;
			border-right: 1px solid rgba(255, 255, 255, 0.15);
			padding: 9px;
			font-weight: bold;
			text-transform: uppercase;

			&:nth-child(5) {
				border-right: 0;
			}

			&:last-of-type {
				position: relative;
				background: #78a22f;
				color: #fff;
				font-weight: bold;

				&:before {
					position: absolute;
					background: rgba(#78a22f, .45);
					top: 0;
					right:0;
					left: 0;
					bottom: 0;
					content: "";
				}
			}
		}

		&.title {
			font-weight: bold;
			text-transform: uppercase;

			td {
				border-bottom: 1px solid #c7d0d3;
			}
		}

		&.totals {
			background: #c7d0d3 !important;

			td:nth-child(1) {
				font-weight: bold;
			}

			td:last-of-type {
				position: relative;
				background: #78a22f;
				color: #fff;
				font-weight: bold;

				&:before {
					position: absolute;
					background: rgba(#78a22f, .45);
					top: 0;
					right:0;
					left: 0;
					bottom: 0;
					content: "";
				}
			}
		}
	}
}